Repository drussell23/JARVIS-AI, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, api, database, core, tests, documentation, configuration, ci/cd, dependencies, infrastructure, security, performance, cloud, ai-ml, voice, vision, scripts, github-actions

.github/labeler.yml:

# Auto-labeler configuration for PR automation (v5 format)

backend:
  - changed-files:
    - any-glob-to-any-file: 'backend/**/*'

frontend:
  - changed-files:
    - any-glob-to-any-file: 'frontend/**/*'

api:
  - changed-files:
    - any-glob-to-any-file:
      - 'backend/api/**/*'
      - 'backend/**/*websocket*'

database:
  - changed-files:
    - any-glob-to-any-file:
      - 'backend/**/*database*'
      - 'backend/**/*db*'
      - 'backend/**/models/*'
      - 'backend/**/migrations/*'

core:
  - changed-files:
    - any-glob-to-any-file: 'backend/core/**/*'

tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'backend/tests/**/*'
      - 'frontend/tests/**/*'
      - 'tests/**/*'
      - '**/*test*.py'
      - '**/*.test.js'
      - '**/*.test.ts'

documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '*.md'
      - 'docs/**/*'
      - '**/*.md'

configuration:
  - changed-files:
    - any-glob-to-any-file:
      - '*.yml'
      - '*.yaml'
      - '*.toml'
      - '*.json'
      - '.env.example'
      - 'backend/core/hybrid_config.yaml'

ci/cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - '**/requirements*.txt'
      - '**/package*.json'
      - '**/Cargo.toml'
      - '**/go.mod'
      - 'Pipfile'
      - 'poetry.lock'

infrastructure:
  - changed-files:
    - any-glob-to-any-file:
      - 'infrastructure/**/*'
      - 'terraform/**/*'
      - 'k8s/**/*'
      - 'kubernetes/**/*'
      - 'docker-compose*.yml'
      - 'Dockerfile*'

security:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*security*'
      - '**/*auth*'
      - '**/*credential*'

performance:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*benchmark*'
      - '**/*performance*'
      - '**/*optimization*'

cloud:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*gcp*'
      - '**/*cloud*'
      - '**/*cloudsql*'

ai-ml:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*model*'
      - '**/*ml*'
      - '**/*agent*'
      - 'backend/agents/**/*'
      - 'ml_models/**/*'

voice:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*voice*'
      - '**/*audio*'
      - '**/*speaker*'
      - 'backend/services/voice_*'

vision:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*vision*'
      - '**/*ocr*'
      - '**/*screenshot*'

scripts:
  - changed-files:
    - any-glob-to-any-file:
      - 'scripts/**/*'
      - '*.sh'
      - '*.py'

github-actions:
  - changed-files:
    - any-glob-to-any-file: '.github/**/*'

refactor: Update OptimizedClaudeVisionAnalyzer to remove fast path for screen analysis and implement asynchronous API calls
  backend/vision/optimized_claude_vision.py
Labels: backend, vision

feat: Enhance multi-space handling for screen visibility queries
  backend/vision/multi_space_intelligence.py
  backend/vision/optimized_claude_vision.py
Labels: backend, vision

feat: Update gitleaks configuration to allow keychain password checks
  .gitleaks.toml
Labels: configuration, ai-ml

fix: Update Keychain credentials to use correct service and account names
  backend/macos_keychain_unlock.py
  backend/voice_unlock/intelligent_voice_unlock_service.py
Labels: backend, voice

feat: Add secure_password_typer to gitleaks allowlist
  .gitleaks.toml
  backend/voice_unlock/secure_password_typer.py
Labels: backend, configuration, ai-ml

feat: Add screen unlock diagnostic tools and documentation
  .gitleaks.toml
  SCREEN_UNLOCK_FIX_COMPLETE.md
  diagnose_unlock.py
  run_unlock_test.sh
Labels: documentation, configuration, ai-ml, scripts

feat: Integrate voice biometric authentication with secure screen unlock
  .gitleaks.toml
  backend/api/simple_unlock_handler.py
Labels: backend, api, configuration, ai-ml

feat: Implement voice enrollment status check and end-to-end testing for biometric unlock
  VOICE_BIOMETRIC_TEST_FIXES.md
  backend/core/transport_handlers.py
  check_voice_enrollment.py
  test_voice_biometric_unlock_e2e.py
Labels: backend, core, tests, documentation, voice, scripts

perf: Optimize startup by deferring SpeechBrain loading to background
  backend/voice/speaker_verification_service.py
  start_system.py
Labels: backend, voice, scripts

chore: Update gitleaks allowlist for documentation files
  .gitleaks.toml
  BEAST_MODE_INTEGRATION_VERIFICATION.md
  DYNAMIC_UNLOCK_CHANGES_SUMMARY.md
  DYNAMIC_VOICE_UNLOCK_IMPLEMENTATION.md
  SYSTEM_FIXES_SUMMARY.md
  VOICE_UNLOCK_STATUS_SUMMARY.md
  VOICE_VERIFICATION_HOW_IT_WORKS.md
  backend/api/component_warmup_config.py
  backend/fix_unlock_password.py
  update_unlock_password.py
Labels: backend, api, documentation, configuration, ai-ml, scripts

chore: Update gitleaks allowlist for documentation files
  .gitleaks.toml
Labels: configuration, ai-ml

feat: Enhance WebSocket manager and fix ChromaDB schema issue
  backend/api/unified_websocket.py
  backend/intelligence/learning_database.py
Labels: backend, api, database

fix: Clean up unused parameter warnings in WebSocket handlers
  backend/api/unified_websocket.py
Labels: backend, api

feat: Implement missing orchestrator and pipeline features
  backend/api/unified_websocket.py
  backend/core/hybrid_orchestrator.py
Labels: backend, api, core

fix: Enhance recovery task exception handling in UnifiedWebSocketManager
  backend/api/unified_websocket.py
Labels: backend, api

perf: Optimize startup for low RAM systems (16GB macOS)
  backend/api/component_warmup_config.py
  backend/core/component_warmup.py
  start_system.py
Labels: backend, api, core, scripts

feat: Integrate hybrid cloud VM auto-creation with component warmup
  backend/core/component_warmup.py
Labels: backend, core

docs: Add comprehensive hybrid cloud startup flow documentation
  docs/HYBRID_CLOUD_STARTUP.md
Labels: documentation

feat: Add real-time GCP hybrid cloud monitoring to start_system.py
  start_system.py
Labels: scripts

feat: Add intelligent cost-cutting and GCP Console-level monitoring
  backend/core/gcp_vm_manager.py
  start_system.py
Labels: backend, core, cloud, scripts

refactor: Remove Autonomous Fixer logic from codebase
  start_system.py
Labels: scripts

fix: Correct type_password_securely() wrapper to match actual method signature
  backend/voice_unlock/secure_password_typer.py
Labels: backend

refactor: Improve bug reporting and websocket display handling
  backend/api/unified_websocket.py
  start_system.py
Labels: backend, api, scripts

refactor: Update learning database integration and enhance failure response structure
  backend/voice_unlock/intelligent_voice_unlock_service.py
Labels: backend, voice

feat: Enhance voice unlock configuration checks with comprehensive diagnostics
  start_system.py
Labels: scripts

feat: Add comprehensive checks for BEAST MODE components in voice unlock process
  backend/api/unified_websocket.py
  frontend/public/loading-manager.js
  start_system.py
Labels: backend, frontend, api, scripts

feat: Enhance profile data handling in JARVISLearningDatabase
  backend/intelligence/learning_database.py
Labels: backend, database

feat: Implement CloudSQL Proxy management for voice biometric data access
  start_system.py
Labels: scripts

feat: Refactor CloudSQL connection handling in AsyncSystemManager
  start_system.py
Labels: scripts

feat: Update voice unlock service health checks and logging
  start_system.py
Labels: scripts

test
  .gitleaks.toml
Labels: configuration, ai-ml

fix: Resolve asyncio errors, startup timeout, and gitleaks false positives
  .gitleaks.toml
  backend/intelligence/hybrid_database_sync.py
  backend/intelligence/learning_database.py
  docs/HYBRID_DATABASE_SYNC.md
  docs/HYBRID_DATABASE_SYNC_IMPLEMENTATION.md
  start_system.py
Labels: backend, database, documentation, configuration, ai-ml, scripts

feat: Implement asyncio thread cleanup in lifespan function
  backend/main.py
Labels: backend

feat: Enhance CORS configuration with dynamic origins and improved logging
  backend/main.py
Labels: backend

feat: Implement advanced hybrid database synchronization system for voice biometrics
  backend/intelligence/hybrid_database_sync.py
  docs/ADVANCED_HYBRID_SYNC_V2.md
Labels: backend, database, documentation

feat: Update advanced hybrid sync configuration and logging for voice biometrics
  backend/intelligence/learning_database.py
Labels: backend, database

feat: Release v17.6.0 with Advanced Hybrid Sync & Observability
  README.md
  backend/intelligence/hybrid_database_sync.py
  backend/intelligence/learning_database.py
  docs/PHASE2_IMPLEMENTATION_COMPLETE.md
  start_system.py
Labels: backend, database, documentation, scripts

feat: Enhance Prometheus metrics initialization and health tracking in hybrid sync
  backend/intelligence/hybrid_database_sync.py
Labels: backend, database

refactor: Simplify connection acquisition and enhance CloudSQL reconnection logic
  backend/intelligence/hybrid_database_sync.py
Labels: backend, database

feat: Enhance speaker encoder loading with Apple Silicon support and diagnostics
  backend/voice/engines/speechbrain_engine.py
Labels: backend
