Repository drussell23/JARVIS-AI, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, api, database, core, tests, documentation, configuration, ci/cd, dependencies, infrastructure, security, performance, cloud, ai-ml, voice, vision, scripts, github-actions

feat: Implement VAD preprocessing for speaker verification
  backend/voice_unlock/intelligent_voice_unlock_service.py
Labels: backend, voice

chore: Add test_password_typing.py to Gitleaks allowlist
  .gitleaks.toml
  backend/api/simple_unlock_handler.py
  backend/voice_unlock/intelligent_voice_unlock_service.py
  test_password_typing.py
Labels: backend, api, tests, configuration, ai-ml, voice, scripts

feat: Implement initial change detection logic in TemporalQueryHandler
  backend/context_intelligence/handlers/temporal_query_handler.py
Labels: backend

fix: Improve shutdown handling in CloudSQL connection manager
  backend/intelligence/cloud_sql_connection_manager.py
Labels: backend, cloud

feat: Enhance change detection in TemporalQueryHandler with ML strategies
  backend/context_intelligence/handlers/temporal_query_handler.py
Labels: backend

feat: Add Developer Metrics Overlay for voice unlock performance
  backend/voice_unlock/intelligent_voice_unlock_service.py
  frontend/src/components/DeveloperMetricsOverlay.css
  frontend/src/components/DeveloperMetricsOverlay.js
  frontend/src/components/JarvisVoice.js.bak
Labels: backend, frontend, voice

feat: Enhance Developer Metrics Overlay with toggle functionality and styling updates
  frontend/src/components/DeveloperMetricsOverlay.css
  frontend/src/components/DeveloperMetricsOverlay.js
  frontend/src/components/JarvisVoice.js
  frontend/src/components/JarvisVoice.js.bak
Labels: frontend

feat: Implement unlock metrics logging and remove Developer Metrics Overlay
  backend/voice_unlock/intelligent_voice_unlock_service.py
  backend/voice_unlock/unlock_metrics_logger.py
  frontend/src/components/DeveloperMetricsOverlay.css
  frontend/src/components/DeveloperMetricsOverlay.js
  frontend/src/components/DeveloperMetricsToggle.js
  frontend/src/components/JarvisVoice.js
Labels: backend, frontend, voice

feat: Enhance IntelligentVoiceUnlockService with advanced metrics logging
  backend/voice_unlock/intelligent_voice_unlock_service.py
  backend/voice_unlock/unlock_metrics_logger.py
Labels: backend, voice

feat: Introduce advanced async metrics logging for voice unlock service
  backend/ml_models/audio_models.pkl
  backend/voice_unlock/METRICS_LOGGER_README.md
  backend/voice_unlock/intelligent_voice_unlock_service.py
  backend/voice_unlock/unlock_metrics_logger.py
Labels: backend, documentation, ai-ml, voice

feat: Introduce Thread Manager for efficient thread management and cleanup
  backend/core/thread_manager.py
Labels: backend, core

feat: Implement enterprise-grade AdvancedThreadManager
  backend/core/thread_manager.py
Labels: backend, core

feat: Integrate Advanced Thread Manager for enhanced thread lifecycle management
  backend/main.py
Labels: backend

feat: Revamp voice unlock metrics system with advanced monitoring and export capabilities
  backend/ml_memory_manager.py
  backend/vision/video_stream_capture.py
  backend/voice/speaker_verification_service.py
  backend/voice/streaming_processor.py
  backend/voice_unlock/EXCEL_DATABASE_EXPORT_GUIDE.md
  backend/voice_unlock/export_metrics_to_excel.py
  backend/voice_unlock/export_to_excel.sh
  backend/voice_unlock/metrics_database.py
  backend/voice_unlock/metrics_monitor.py
  backend/voice_unlock/unlock_metrics_logger.py
  start_system.py
Labels: backend, database, documentation, ai-ml, voice, scripts

feat: Enhance metrics monitoring with dynamic status updates and robust error handling
  backend/voice_unlock/metrics_monitor.py
  start_system.py
Labels: backend, scripts

feat: Implement orphan process cleanup and restart behavior for DB Browser
  backend/voice_unlock/metrics_monitor.py
Labels: backend

feat: Add macOS notifications for voice unlock attempts and enhance metrics monitoring
  backend/voice_unlock/metrics_monitor.py
  start_system.py
Labels: backend, scripts

feat: Enhance macOS notification system for voice unlock with advanced features
  backend/voice_unlock/metrics_monitor.py
  backend/voice_unlock/utils/audio_capture.py
Labels: backend, voice

feat: Add advanced ML continuous learning system for voice unlock
  .gitleaks.toml
  backend/voice_unlock/ML_ARCHITECTURE.md
  backend/voice_unlock/continuous_learning_engine.py
  backend/voice_unlock/fix_keychain_password.sh
  backend/voice_unlock/intelligent_voice_unlock_service.py
  backend/voice_unlock/metrics_database.py
  backend/voice_unlock/secure_password_typer.py
Labels: backend, database, documentation, configuration, ai-ml, voice

feat: Integrate ML continuous learning for voice biometrics and typing metrics
  backend/voice_unlock/intelligent_voice_unlock_service.py
  backend/voice_unlock/secure_password_typer.py
Labels: backend, voice

feat: Introduce advanced ML features for continuous learning in voice unlock
  backend/voice_unlock/advanced_ml_features.py
  backend/voice_unlock/continuous_learning_engine.py
Labels: backend, ai-ml

feat: Implement ML Continuous Learning Engine shutdown process
  backend/main.py
  backend/process_cleanup_manager.py
  start_system.py
Labels: backend, scripts

feat: Add graceful shutdown for ML Learning Engine in process cleanup
  backend/process_cleanup_manager.py
Labels: backend

feat: Enhance ML learning and metrics storage for voice unlock system
  backend/voice_unlock/intelligent_voice_unlock_service.py
  backend/voice_unlock/secure_password_typer.py
Labels: backend, voice

refactor: Update metrics database and typing configuration for improved flexibility
  backend/voice_unlock/metrics_database.py
  backend/voice_unlock/secure_password_typer.py
Labels: backend, database

fix: Update SecurePasswordTyper to include configuration parameter in character typing method
  backend/voice_unlock/secure_password_typer.py
Labels: backend

feat: Add macOS HUD UI with web app color matching
  macos-hud/JARVIS-HUD/HUDView.swift
  macos-hud/JARVIS-HUD/JARVISApp.swift
  macos-hud/JARVIS-HUD/JARVISColors.swift
  macos-hud/JARVIS-HUD/JARVISPulseView.swift
  macos-hud/JARVIS-HUD/PythonBridge.swift
  macos-hud/JARVIS-HUD/TransparentWindow.swift
  macos-hud/README.md
Labels: documentation

refactor: Update HUD design to exactly match web app screenshots
  macos-hud/JARVIS-HUD/HUDView.swift
  macos-hud/JARVIS-HUD/TransparentWindow.swift
Labels: none

fix: Update arc reactor colors and add transparency for desktop visibility
  macos-hud/JARVIS-HUD/HUDView.swift
Labels: none

fix: Reduce background opacity to 50% for better desktop visibility
  macos-hud/JARVIS-HUD/HUDView.swift
Labels: none

feat: Implement web-app-accurate arc reactor and loading screen
  macos-hud/JARVIS-HUD/ArcReactorView.swift
  macos-hud/JARVIS-HUD/HUDView.swift
  macos-hud/JARVIS-HUD/LoadingHUDView.swift
Labels: none

feat: Integrate macOS HUD with Python backend (dynamic, async, robust)
  backend/api/hud_websocket.py
  backend/main.py
  backend/ui/macos_launcher.py
  macos-hud/JARVIS-HUD/PythonBridge.swift
  start_system.py
Labels: backend, api, scripts

feat: Update README for JARVIS v17.7.0 with Native macOS HUD
  README.md
Labels: documentation

feat: Refactor UI startup sequence for macOS HUD and backend integration
  macos-hud/JARVIS-HUD/JARVISApp.swift
  start_system.py
Labels: scripts

feat: Enhance UI mode selection with legacy support in start_system.py
  start_system.py
Labels: scripts

feat: Add additional search paths for macOS HUD build configurations
  backend/ui/macos_launcher.py
Labels: backend

feat: Implement robust dynamic cleanup for JARVIS instances during restart
  backend/process_cleanup_manager.py
  start_system.py
Labels: backend, scripts

feat: Enhance backend path management and UI task handling in start_system.py
  start_system.py
Labels: scripts

fix: Correct import path for MacOSHUDLauncher in start_system.py
  start_system.py
Labels: scripts

feat: Enhance process cleanup manager with code change detection and module cache clearing
  backend/process_cleanup_manager.py
Labels: backend

.github/labeler.yml:

# Auto-labeler configuration for PR automation (v5 format)

backend:
  - changed-files:
    - any-glob-to-any-file: 'backend/**/*'

frontend:
  - changed-files:
    - any-glob-to-any-file: 'frontend/**/*'

api:
  - changed-files:
    - any-glob-to-any-file:
      - 'backend/api/**/*'
      - 'backend/**/*websocket*'

database:
  - changed-files:
    - any-glob-to-any-file:
      - 'backend/**/*database*'
      - 'backend/**/*db*'
      - 'backend/**/models/*'
      - 'backend/**/migrations/*'

core:
  - changed-files:
    - any-glob-to-any-file: 'backend/core/**/*'

tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'backend/tests/**/*'
      - 'frontend/tests/**/*'
      - 'tests/**/*'
      - '**/*test*.py'
      - '**/*.test.js'
      - '**/*.test.ts'

documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '*.md'
      - 'docs/**/*'
      - '**/*.md'

configuration:
  - changed-files:
    - any-glob-to-any-file:
      - '*.yml'
      - '*.yaml'
      - '*.toml'
      - '*.json'
      - '.env.example'
      - 'backend/core/hybrid_config.yaml'

ci/cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - '**/requirements*.txt'
      - '**/package*.json'
      - '**/Cargo.toml'
      - '**/go.mod'
      - 'Pipfile'
      - 'poetry.lock'

infrastructure:
  - changed-files:
    - any-glob-to-any-file:
      - 'infrastructure/**/*'
      - 'terraform/**/*'
      - 'k8s/**/*'
      - 'kubernetes/**/*'
      - 'docker-compose*.yml'
      - 'Dockerfile*'

security:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*security*'
      - '**/*auth*'
      - '**/*credential*'

performance:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*benchmark*'
      - '**/*performance*'
      - '**/*optimization*'

cloud:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*gcp*'
      - '**/*cloud*'
      - '**/*cloudsql*'

ai-ml:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*model*'
      - '**/*ml*'
      - '**/*agent*'
      - 'backend/agents/**/*'
      - 'ml_models/**/*'

voice:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*voice*'
      - '**/*audio*'
      - '**/*speaker*'
      - 'backend/services/voice_*'

vision:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*vision*'
      - '**/*ocr*'
      - '**/*screenshot*'

scripts:
  - changed-files:
    - any-glob-to-any-file:
      - 'scripts/**/*'
      - '*.sh'
      - '*.py'

github-actions:
  - changed-files:
    - any-glob-to-any-file: '.github/**/*'
