Repository drussell23/JARVIS-AI, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, api, database, core, tests, documentation, configuration, ci/cd, dependencies, infrastructure, security, performance, cloud, ai-ml, voice, vision, scripts, github-actions

feat: Extend loading progress handling in JARVIS HUD
  macos-hud/JARVIS-HUD/PythonBridge.swift
Labels: none

feat: Implement clickable Arc Reactor in JARVIS HUD for quitting functionality
  macos-hud/JARVIS-HUD/ArcReactorView.swift
  macos-hud/JARVIS-HUD/HUDView.swift
  macos-hud/JARVIS-HUD/JARVISApp.swift
Labels: none

fix: Ensure time module is available in exception handler scope
  start_system.py
Labels: scripts

feat: Enhance HUD launch process with multiple methods for improved reliability
  start_system.py
Labels: scripts

feat: Introduce advanced HUD launcher with multiple strategies for improved application startup
  backend/api/hud_connection_manager.py
  backend/voice/engines/speechbrain_engine.py
  macos_hud_launcher.py
  start_system.py
Labels: backend, api, scripts

feat: Release v17.7.1 with advanced macOS HUD launcher and ML enhancements
  README.md
  docs/MACOS_HUD_LAUNCHER_DOCUMENTATION.md
  docs/RECENT_IMPROVEMENTS.md
  docs/V17.7.1_RELEASE_SUMMARY.md
Labels: documentation

feat: Add shell script wrapper strategy for HUD launch and clean up extended attributes
  macos_hud_launcher.py
  start_system.py
Labels: scripts

feat: Launch macOS HUD after backend readiness with improved error handling
  start_system.py
Labels: scripts

fix: Update memory monitoring method in GCP VM status functions
  backend/core/gcp_vm_status.py
  backend/voice/engines/speechbrain_engine.py
Labels: backend, core, cloud

refactor: Replace synchronous sleep with asynchronous sleep in main function
  start_system.py
Labels: scripts

fix: Enhance torchvision import handling for compatibility with transformers
  backend/voice/engines/speechbrain_engine.py
Labels: backend

fix: Complete mock for torchvision.transforms to resolve import conflicts with transformers
  backend/voice/engines/speechbrain_engine.py
  docs/FIX_SUMMARY_TORCHVISION.md
Labels: backend, documentation

feat: Add comprehensive documentation for Apple Developer ID setup for JARVIS HUD
  docs/APPLE_DEVELOPER_ID_SETUP.md
Labels: documentation

feat: Connect HUD to backend + simplify launcher for signed app
  .gitignore
  macos-hud/JARVIS-HUD/HUDView.swift
  macos-hud/JARVIS-HUD/JARVISApp.swift
  macos-hud/JARVIS-HUD/LoadingHUDView.swift
  macos-hud/JARVIS-HUD/PythonBridge.swift
  macos_hud_launcher.py
Labels: scripts

refactor: Improve code readability and logging in UnifiedWebSocketManager and macOS HUD
  backend/api/unified_websocket.py
  macos-hud/JARVIS-HUD/JARVISApp.swift
  macos-hud/JARVIS-HUD/PythonBridge.swift
Labels: backend, api

feat: Integrate Unified WebSocket API into backend with error handling
  backend/main.py
Labels: backend

feat: Implement advanced dynamic router mounting system with validation and metrics
  backend/main.py
Labels: backend

feat: Upgrade JARVIS AI System to v14.2.0 with enhanced startup verification
  start_system.py
Labels: scripts

feat: Introduce HUD Process and Thread Managers for enhanced lifecycle management
  backend/core/thread_manager.py
  backend/process_cleanup_manager.py
Labels: backend, core

fix: Update WebSocket connection handling to use asyncio.wait_for for timeout control
  start_system.py
Labels: scripts

refactor: Improve WebSocket connection handling across multiple managers
  backend/core/thread_manager.py
  backend/process_cleanup_manager.py
  backend/voice/engines/speechbrain_engine.py
  start_system.py
Labels: backend, core, scripts

feat: Update JARVIS AI System startup script to v14.3.0 with instant HUD launch
  start_system.py
Labels: scripts

feat: Implement system restart notification for HUD clients
  backend/api/unified_websocket.py
  macos-hud/JARVIS-HUD/PythonBridge.swift
  macos_hud_builds/JARVIS-HUD.app/Contents/Info.plist
  macos_hud_builds/JARVIS-HUD.app/Contents/MacOS/JARVIS-HUD
  macos_hud_builds/JARVIS-HUD.app/Contents/PkgInfo
Labels: backend, api

feat: Add HUD notification for system restart during backend shutdown
  macos-hud/JARVIS-HUD/JARVISApp.swift
  start_system.py
Labels: scripts

refactor: Simplify async handling in system restart notification
  start_system.py
Labels: scripts

refactor: Update JARVIS window configuration for improved UI experience
  macos-hud/JARVIS-HUD/JARVISApp.swift
Labels: none

refactor: Enhance connection management in PythonBridge for improved reliability
  macos-hud/JARVIS-HUD/PythonBridge.swift
Labels: none

refactor: Standardize JSON message formatting in WebSocket communications
  backend/api/unified_websocket.py
  backend/autonomy/autonomous_decision_engine.py
  backend/core/jarvis_ai_core.py
Labels: backend, api, core

refactor: Implement smart HUD launch coordination for improved user experience
  backend/api/unified_websocket.py
  backend/api/websocket_readiness.py
  backend/main.py
  start_system.py
Labels: backend, api, scripts

refactor: Consolidate WebSocket readiness management into UnifiedWebSocketManager
  backend/api/unified_websocket.py
  backend/api/websocket_readiness.py
  backend/main.py
  start_system.py
Labels: backend, api, scripts

refactor: Improve code readability in UnifiedWebSocketManager
  backend/api/unified_websocket.py
Labels: backend, api

feat: Introduce Universal WebSocket Client for JARVIS with dynamic configuration and health checks
  backend/api/unified_websocket.py
  backend/main.py
  frontend/src/utils/UniversalWebSocketClient.js
  macos-hud/JARVIS-HUD/UniversalWebSocketClient.swift
Labels: backend, frontend, api

feat: Enhance Universal WebSocket Client integration with detailed connection state and server capabilities
  backend/main.py
  frontend/src/components/JarvisVoice.css
  frontend/src/components/JarvisVoice.js
  macos-hud/JARVIS-HUD/HUDView.swift
  macos-hud/JARVIS-HUD/PythonBridge.swift
  start_system.py
Labels: backend, frontend, scripts

refactor: Update type annotations in PythonBridge and HUDView for improved clarity
  macos-hud/JARVIS-HUD/HUDView.swift
  macos-hud/JARVIS-HUD/PythonBridge.swift
Labels: none

refactor: Simplify JSON decoding in UniversalWebSocketClient
  macos-hud/JARVIS-HUD/UniversalWebSocketClient.swift
Labels: none

refactor: Streamline WebSocket readiness signaling in backend
  backend/api/unified_websocket.py
  backend/main.py
Labels: backend, api

feat: Implement WebSocket readiness clearing on backend shutdown
  backend/api/unified_websocket.py
  backend/main.py
Labels: backend, api

refactor: Update logging for HUD client connection status in UnifiedWebSocketManager
  backend/api/unified_websocket.py
Labels: backend, api

feat: Add configuration endpoint and improve WebSocket client connection handling
  backend/api/unified_websocket.py
  backend/main.py
  macos-hud/JARVIS-HUD/PythonBridge.swift
  macos-hud/JARVIS-HUD/UniversalWebSocketClient.swift
Labels: backend, api

feat: Implement instant HUD launch for immediate connection
  start_system.py
Labels: scripts

.github/labeler.yml:

# Auto-labeler configuration for PR automation (v5 format)

backend:
  - changed-files:
    - any-glob-to-any-file: 'backend/**/*'

frontend:
  - changed-files:
    - any-glob-to-any-file: 'frontend/**/*'

api:
  - changed-files:
    - any-glob-to-any-file:
      - 'backend/api/**/*'
      - 'backend/**/*websocket*'

database:
  - changed-files:
    - any-glob-to-any-file:
      - 'backend/**/*database*'
      - 'backend/**/*db*'
      - 'backend/**/models/*'
      - 'backend/**/migrations/*'

core:
  - changed-files:
    - any-glob-to-any-file: 'backend/core/**/*'

tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'backend/tests/**/*'
      - 'frontend/tests/**/*'
      - 'tests/**/*'
      - '**/*test*.py'
      - '**/*.test.js'
      - '**/*.test.ts'

documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '*.md'
      - 'docs/**/*'
      - '**/*.md'

configuration:
  - changed-files:
    - any-glob-to-any-file:
      - '*.yml'
      - '*.yaml'
      - '*.toml'
      - '*.json'
      - '.env.example'
      - 'backend/core/hybrid_config.yaml'

ci/cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - '**/requirements*.txt'
      - '**/package*.json'
      - '**/Cargo.toml'
      - '**/go.mod'
      - 'Pipfile'
      - 'poetry.lock'

infrastructure:
  - changed-files:
    - any-glob-to-any-file:
      - 'infrastructure/**/*'
      - 'terraform/**/*'
      - 'k8s/**/*'
      - 'kubernetes/**/*'
      - 'docker-compose*.yml'
      - 'Dockerfile*'

security:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*security*'
      - '**/*auth*'
      - '**/*credential*'

performance:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*benchmark*'
      - '**/*performance*'
      - '**/*optimization*'

cloud:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*gcp*'
      - '**/*cloud*'
      - '**/*cloudsql*'

ai-ml:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*model*'
      - '**/*ml*'
      - '**/*agent*'
      - 'backend/agents/**/*'
      - 'ml_models/**/*'

voice:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*voice*'
      - '**/*audio*'
      - '**/*speaker*'
      - 'backend/services/voice_*'

vision:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*vision*'
      - '**/*ocr*'
      - '**/*screenshot*'

scripts:
  - changed-files:
    - any-glob-to-any-file:
      - 'scripts/**/*'
      - '*.sh'
      - '*.py'

github-actions:
  - changed-files:
    - any-glob-to-any-file: '.github/**/*'
