Repository drussell23/JARVIS-AI, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, api, database, core, tests, documentation, configuration, ci/cd, dependencies, infrastructure, security, performance, cloud, ai-ml, voice, vision, scripts, github-actions

.github/labeler.yml:

# Auto-labeler configuration for PR automation (v5 format)

backend:
  - changed-files:
    - any-glob-to-any-file: 'backend/**/*'

frontend:
  - changed-files:
    - any-glob-to-any-file: 'frontend/**/*'

api:
  - changed-files:
    - any-glob-to-any-file:
      - 'backend/api/**/*'
      - 'backend/**/*websocket*'

database:
  - changed-files:
    - any-glob-to-any-file:
      - 'backend/**/*database*'
      - 'backend/**/*db*'
      - 'backend/**/models/*'
      - 'backend/**/migrations/*'

core:
  - changed-files:
    - any-glob-to-any-file: 'backend/core/**/*'

tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'backend/tests/**/*'
      - 'frontend/tests/**/*'
      - 'tests/**/*'
      - '**/*test*.py'
      - '**/*.test.js'
      - '**/*.test.ts'

documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '*.md'
      - 'docs/**/*'
      - '**/*.md'

configuration:
  - changed-files:
    - any-glob-to-any-file:
      - '*.yml'
      - '*.yaml'
      - '*.toml'
      - '*.json'
      - '.env.example'
      - 'backend/core/hybrid_config.yaml'

ci/cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - '**/requirements*.txt'
      - '**/package*.json'
      - '**/Cargo.toml'
      - '**/go.mod'
      - 'Pipfile'
      - 'poetry.lock'

infrastructure:
  - changed-files:
    - any-glob-to-any-file:
      - 'infrastructure/**/*'
      - 'terraform/**/*'
      - 'k8s/**/*'
      - 'kubernetes/**/*'
      - 'docker-compose*.yml'
      - 'Dockerfile*'

security:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*security*'
      - '**/*auth*'
      - '**/*credential*'

performance:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*benchmark*'
      - '**/*performance*'
      - '**/*optimization*'

cloud:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*gcp*'
      - '**/*cloud*'
      - '**/*cloudsql*'

ai-ml:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*model*'
      - '**/*ml*'
      - '**/*agent*'
      - 'backend/agents/**/*'
      - 'ml_models/**/*'

voice:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*voice*'
      - '**/*audio*'
      - '**/*speaker*'
      - 'backend/services/voice_*'

vision:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*vision*'
      - '**/*ocr*'
      - '**/*screenshot*'

scripts:
  - changed-files:
    - any-glob-to-any-file:
      - 'scripts/**/*'
      - '*.sh'
      - '*.py'

github-actions:
  - changed-files:
    - any-glob-to-any-file: '.github/**/*'

feat: Prevent Multiple Initializations in Learning Database
  backend/intelligence/learning_database.py
  backend/voice/speaker_verification_service.py
Labels: backend, database, voice

refactor: Simplify Speaker Verification Result Handling
  backend/voice/voice_unlock_integration.py
Labels: backend, voice

refactor: Update Learning Database Initialization to Use Singleton Pattern
  start_system.py
Labels: scripts

refactor: Standardize Learning Database Access Across Components
  backend/api/jarvis_voice_api.py
  backend/main.py
  backend/voice/hybrid_stt_router.py
Labels: backend, api, voice

refactor: Update Pattern Storage Method in SAIHybridIntegration
  backend/intelligence/cloud_database_adapter.py
  backend/voice/speaker_aware_command_handler.py
  backend/voice/voice_unlock_integration.py
  start_system.py
Labels: backend, database, cloud, voice, scripts

feat: Integrate Cloud SQL Proxy Management in AsyncSystemManager
  backend/voice/speaker_verification_service.py
  start_system.py
Labels: backend, voice, scripts

feat: Implement Cloud SQL Proxy Process Management
  start_system.py
Labels: scripts

feat: Refactor Cloud SQL Proxy Management to Support Asynchronous Operations
  backend/intelligence/cloud_sql_proxy_manager.py
  start_system.py
Labels: backend, cloud, scripts

refactor: Update Database Configuration Handling in Cloud Database Adapter
  backend/intelligence/cloud_database_adapter.py
Labels: backend, database, cloud

feat: Enhance Logging in Cloud Database Adapter and Cloud SQL Proxy Manager
  backend/intelligence/cloud_database_adapter.py
  backend/intelligence/cloud_sql_proxy_manager.py
Labels: backend, database, cloud

refactor: Remove Legacy Cloud SQL Proxy Startup Logic
  backend/intelligence/cloud_database_adapter.py
  start_system.py
Labels: backend, database, cloud, scripts

fix: Extend Module Cleanup Logic in System Startup
  start_system.py
Labels: scripts

fix: Ensure Localhost Usage for Cloud SQL Proxy Connections
  backend/intelligence/cloud_database_adapter.py
Labels: backend, database, cloud

refactor: Implement Database-Agnostic UPSERT Method in Cloud Database Adapter
  backend/intelligence/cloud_database_adapter.py
  backend/intelligence/learning_database.py
  start_system.py
Labels: backend, database, cloud, scripts

feat: Add Asynchronous Database-Agnostic UPSERT Method
  backend/intelligence/learning_database.py
Labels: backend, database

feat: Enhance Cosine Similarity Computation with Dimension Adaptation
  backend/voice/engines/speechbrain_engine.py
Labels: backend

feat: Enhance Speaker Verification with Adaptive Quality Assessment
  backend/voice/speaker_verification_service.py
  backend/voice/verification_config.yaml
Labels: backend, ai-ml, voice

feat: Improve CI Workflow with Enhanced Debugging and PR Creation Logic
  .github/workflows/failed-ci-auto-pr.yml
  backend/voice_unlock/intelligent_voice_unlock_service.py
Labels: backend, ci/cd, ai-ml, voice, github-actions

feat: Add Voice Biometric Authentication Debugging Guide
  docs/Voice-Biometric-Authentication-Debugging-Guide.md
Labels: documentation

fix: Use only existing ci-failure label in Auto-PR workflow
  .github/workflows/failed-ci-auto-pr.yml
Labels: ci/cd, ai-ml, github-actions

feat: Add Development Roadmap & Security Assessment to Voice Biometric Authentication Guide
  docs/Voice-Biometric-Authentication-Debugging-Guide.md
Labels: documentation

test: Add test workflow to verify Auto-PR functionality
  .github/workflows/test-failure.yml
Labels: ci/cd, ai-ml, github-actions

docs: Update README to include Voice Biometric Authentication details
  README.md
Labels: documentation

fix: Remove inline comments from workflow call parameters
  .github/workflows/biometric-voice-unlock-e2e.yml
  .github/workflows/complete-unlock-test-suite.yml
Labels: ci/cd, ai-ml, voice, github-actions

fix: Simplify workflow_call parameters to use defaults
  .github/workflows/complete-unlock-test-suite.yml
Labels: ci/cd, ai-ml, github-actions

fix: Extract biometric test script to fix GitHub Actions size limit
  .github/workflows/biometric-voice-unlock-e2e.yml
  .github/workflows/scripts/biometric_voice_e2e_test.py
Labels: tests, ci/cd, ai-ml, voice, github-actions

fix: Extract unlock integration test script to fix GitHub Actions size limit
  .github/workflows/scripts/unlock_integration_e2e_test.py
  .github/workflows/unlock-integration-e2e.yml
Labels: tests, ci/cd, ai-ml, github-actions

fix: Reduce workflow_dispatch inputs to 10 to comply with GitHub Actions limit
  .github/workflows/biometric-voice-unlock-e2e.yml
Labels: ci/cd, ai-ml, voice, github-actions

feat: Add new workflows for biometric voice unlock and unlock integration E2E testing
  .github/workflows/biometric-voice-unlock-e2e.yml.bak
  .github/workflows/unlock-integration-e2e.yml.bak
Labels: ci/cd, ai-ml, voice, github-actions

feat: Add JARVIS Voice Security Testing System
  backend/voice_unlock/jarvis_command_handler.py
  backend/voice_unlock/voice_security_tester.py
  backend/voice_unlock/voice_unlock_integration.py
Labels: backend, tests, security, voice

fix: Add fast-path voice security test handler to async pipeline
  backend/core/async_pipeline.py
Labels: backend, core

feat: Ensure JARVIS ALWAYS loads fresh code on restart
  backend/process_cleanup_manager.py
Labels: backend

feat: Implement comprehensive secret management system
  .github/workflows/secret-scanning.yml
  .gitleaks.toml
  CLOUD_SQL_PROXY_SETUP.md
  LONG_TERM_SECRET_MANAGEMENT.md
  SECRET_MANAGEMENT_IMPLEMENTATION.md
  SECURITY_CLEANUP_PLAN.md
  backend/chatbots/claude_chatbot.py
  backend/core/secret_manager.py
  backend/intelligence/cloud_database_adapter.py
  backend/scripts/setup_local_secrets.py
  docs/getting-started/claude-integration-success.md
Labels: backend, database, core, documentation, configuration, ci/cd, cloud, ai-ml, github-actions

chore: Ignore rotation instructions with old credentials
  backend/.gitignore
Labels: backend

feat: Update main.py and start_system.py to use SecretManager
  backend/main.py
  start_system.py
Labels: backend, scripts

docs: Update README with secret management section
  .gitignore
  README.md
Labels: documentation

fix: Enhance database cursor upsert and speaker profile loading robustness
  backend/intelligence/learning_database.py
  backend/voice/speaker_verification_service.py
  start_system.py
Labels: backend, database, voice, scripts

fix: Correct attribute reference and async call in speaker profile loading
  backend/voice/speaker_verification_service.py
  start_system.py
Labels: backend, voice, scripts

feat: Enhanced backend process killing during cache clearing
  backend/process_cleanup_manager.py
Labels: backend

feat: Add detailed transparency to process cleanup and cache management
  start_system.py
Labels: scripts
