Repository drussell23/JARVIS-AI, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, api, database, core, tests, documentation, configuration, ci/cd, dependencies, infrastructure, security, performance, cloud, ai-ml, voice, vision, scripts, github-actions

feat: Enhance loading experience with smooth transitions and prevent white flash
  frontend/public/index.html
  frontend/public/loading-manager.js
  frontend/public/loading.html
Labels: frontend, ai-ml

feat: Refactor loading manager for dynamic phase durations and improved preload handling
  frontend/public/loading-manager.js
Labels: frontend

feat: Enhance loading manager for seamless iframe transitions and cleanup
  frontend/public/loading-manager.js
Labels: frontend

refactor: Simplify loading manager transitions for improved performance
  frontend/public/loading-manager.js
Labels: frontend

style: Add transform-origin to loading animation for improved centering
  frontend/public/loading.html
Labels: frontend, ai-ml

style: Update loading animation centering and reactor core dimensions
  frontend/public/loading.html
Labels: frontend, ai-ml

refactor: Enhance loading manager transitions with matrix effect and reactor adjustments
  frontend/public/loading-manager.js
  frontend/public/loading.html
Labels: frontend, ai-ml

style: Update J.A.R.V.I.S. header and remove autonomous mode toggle
  frontend/src/App.js
Labels: frontend

style: Remove autonomous mode toggle and adjust JarvisVoice positioning
  frontend/src/App.js
  frontend/src/components/JarvisVoice.css
Labels: frontend

style: Enhance loading animation dimensions and add reactor animations
  frontend/public/loading.html
  frontend/src/components/JarvisVoice.css
Labels: frontend, ai-ml

style: Refactor JarvisVoice layout for improved spacing and overflow handling
  frontend/src/components/JarvisVoice.css
Labels: frontend

style: Improve message spacing in JarvisVoice component
  frontend/src/components/JarvisVoice.css
Labels: frontend

style: Adjust spacing and dimensions in JarvisVoice component
  frontend/src/components/JarvisVoice.css
Labels: frontend

refactor: Adjust verification thresholds and enhance audio quality assessment
  backend/voice/engines/speechbrain_engine.py
  backend/voice/speaker_verification_service.py
  backend/voice/verification_config.yaml
  backend/voice/voice_unlock_integration.py
Labels: backend, ai-ml, voice

feat: Implement adaptive learning for speaker verification thresholds
  backend/voice/speaker_verification_service.py
  backend/voice/voice_unlock_integration.py
Labels: backend, voice

feat: Add voice profile diagnostic script
  backend/intelligence/cloud_sql_proxy_manager.py
  backend/voice/voice_unlock_integration.py
  check_voice_profile.py
Labels: backend, cloud, voice, scripts

refactor: Remove check_voice_profile.py script
  backend/voice/speaker_verification_service.py
  check_voice_profile.py
Labels: backend, voice, scripts

feat: Implement auto-migration for speaker profiles
  backend/voice/speaker_verification_service.py
Labels: backend, voice

feat: Enhance speaker profile migration with multi-model support
  backend/voice/engines/speechbrain_engine.py
  backend/voice/speaker_verification_service.py
Labels: backend, voice

feat: Implement restart handling for browser tab management
  start_system.py
Labels: scripts

feat: Enhance JARVIS tab management by closing duplicates
  start_system.py
Labels: scripts

feat: Improve browser tab management during system restart
  start_system.py
Labels: scripts

feat: Refactor JARVIS tab management for improved reliability
  start_system.py
Labels: scripts

fix: Update API URLs and add timeout for network recovery logging
  frontend/src/utils/NetworkRecoveryManager.js
Labels: frontend

feat: Add global error handling for Chrome extension conflicts
  frontend/public/index.html
Labels: frontend, ai-ml

feat: Enhance speaker verification logging and dimension handling
  backend/voice/speaker_verification_service.py
Labels: backend, voice

feat: Add Cloud SQL proxy management to ensure reliable database connections
  backend/intelligence/cloud_database_adapter.py
Labels: backend, database, cloud

feat: Enhance robustness of voice verification and proxy management
  backend/main.py
  start_system.py
Labels: backend, scripts

feat: Add vision capture timeout tests and enhance error handling
  VISION_CAPTURE_TIMEOUT_FIX.md
  backend/api/vision_command_handler.py
  test_vision_capture_timeout.py
Labels: backend, api, tests, documentation, vision, scripts

feat: Add method to retrieve voice samples for speakers
  backend/intelligence/learning_database.py
  backend/voice/speaker_verification_service.py
Labels: backend, database, voice

feat: Implement voice storage migration script and enhance database schema
  backend/intelligence/learning_database.py
  backend/migrate_voice_storage.py
  backend/voice/speaker_verification_service.py
  docs/VOICE_EMBEDDING_RECONSTRUCTION_FIX.md
Labels: backend, database, documentation, voice

feat: Introduce voice profile analytics and enhancement system
  backend/compute_voice_analytics.py
  backend/quick_voice_enhancement.py
Labels: backend, voice

feat: Enhance audio decoding capabilities with multi-format support
  backend/voice/engines/speechbrain_engine.py
Labels: backend

feat: Introduce advanced biometric verification and feature extraction modules
  backend/voice/advanced_biometric_verification.py
  backend/voice/advanced_feature_extraction.py
  backend/voice/engines/speechbrain_engine.py
  backend/voice/speaker_verification_service.py
Labels: backend, voice

feat: Introduce advanced biometric verification and feature extraction modules
  backend/intelligence/learning_database.py
Labels: backend, database

feat: Add comprehensive deployment guide and acoustic features migration
  backend/BEAST_MODE_DEPLOYMENT_GUIDE.md
  backend/migrate_acoustic_features.py
  backend/quick_voice_enhancement.py
  backend/voice/engines/speechbrain_engine.py
  backend/voice/speaker_verification_service.py
Labels: backend, documentation, voice

refactor: Update feature extraction metrics in QuickVoiceEnhancement
  backend/quick_voice_enhancement.py
Labels: backend, voice

feat: Revamp VOICE_UNLOCK to BEAST MODE Multi-Modal Biometric Authentication
  backend/compute_voice_analytics.py
  backend/main.py
  start_system.py
Labels: backend, voice, scripts

feat: Implement hot reload system for voice profiles
  backend/BEAST_MODE_DEPLOYMENT_GUIDE.md
  backend/HOT_RELOAD_IMPLEMENTATION.md
  backend/api/voice_unlock_api.py
  backend/voice/speaker_verification_service.py
Labels: backend, api, documentation, voice

feat: Add diagnostic and fix scripts for voice unlock system
  backend/diagnose_voice_issue.py
  backend/fix_voice_unlock.py
  backend/intelligence/learning_database.py
  backend/voice/speaker_verification_service.py
Labels: backend, database, voice

.github/labeler.yml:

# Auto-labeler configuration for PR automation (v5 format)

backend:
  - changed-files:
    - any-glob-to-any-file: 'backend/**/*'

frontend:
  - changed-files:
    - any-glob-to-any-file: 'frontend/**/*'

api:
  - changed-files:
    - any-glob-to-any-file:
      - 'backend/api/**/*'
      - 'backend/**/*websocket*'

database:
  - changed-files:
    - any-glob-to-any-file:
      - 'backend/**/*database*'
      - 'backend/**/*db*'
      - 'backend/**/models/*'
      - 'backend/**/migrations/*'

core:
  - changed-files:
    - any-glob-to-any-file: 'backend/core/**/*'

tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'backend/tests/**/*'
      - 'frontend/tests/**/*'
      - 'tests/**/*'
      - '**/*test*.py'
      - '**/*.test.js'
      - '**/*.test.ts'

documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '*.md'
      - 'docs/**/*'
      - '**/*.md'

configuration:
  - changed-files:
    - any-glob-to-any-file:
      - '*.yml'
      - '*.yaml'
      - '*.toml'
      - '*.json'
      - '.env.example'
      - 'backend/core/hybrid_config.yaml'

ci/cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - '**/requirements*.txt'
      - '**/package*.json'
      - '**/Cargo.toml'
      - '**/go.mod'
      - 'Pipfile'
      - 'poetry.lock'

infrastructure:
  - changed-files:
    - any-glob-to-any-file:
      - 'infrastructure/**/*'
      - 'terraform/**/*'
      - 'k8s/**/*'
      - 'kubernetes/**/*'
      - 'docker-compose*.yml'
      - 'Dockerfile*'

security:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*security*'
      - '**/*auth*'
      - '**/*credential*'

performance:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*benchmark*'
      - '**/*performance*'
      - '**/*optimization*'

cloud:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*gcp*'
      - '**/*cloud*'
      - '**/*cloudsql*'

ai-ml:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*model*'
      - '**/*ml*'
      - '**/*agent*'
      - 'backend/agents/**/*'
      - 'ml_models/**/*'

voice:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*voice*'
      - '**/*audio*'
      - '**/*speaker*'
      - 'backend/services/voice_*'

vision:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*vision*'
      - '**/*ocr*'
      - '**/*screenshot*'

scripts:
  - changed-files:
    - any-glob-to-any-file:
      - 'scripts/**/*'
      - '*.sh'
      - '*.py'

github-actions:
  - changed-files:
    - any-glob-to-any-file: '.github/**/*'
