Repository drussell23/JARVIS-AI, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, api, database, core, tests, documentation, configuration, ci/cd, dependencies, infrastructure, security, performance, cloud, ai-ml, voice, vision, scripts, github-actions

.github/labeler.yml:

# Auto-labeler configuration for PR automation (v5 format)

backend:
  - changed-files:
    - any-glob-to-any-file: 'backend/**/*'

frontend:
  - changed-files:
    - any-glob-to-any-file: 'frontend/**/*'

api:
  - changed-files:
    - any-glob-to-any-file:
      - 'backend/api/**/*'
      - 'backend/**/*websocket*'

database:
  - changed-files:
    - any-glob-to-any-file:
      - 'backend/**/*database*'
      - 'backend/**/*db*'
      - 'backend/**/models/*'
      - 'backend/**/migrations/*'

core:
  - changed-files:
    - any-glob-to-any-file: 'backend/core/**/*'

tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'backend/tests/**/*'
      - 'frontend/tests/**/*'
      - 'tests/**/*'
      - '**/*test*.py'
      - '**/*.test.js'
      - '**/*.test.ts'

documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '*.md'
      - 'docs/**/*'
      - '**/*.md'

configuration:
  - changed-files:
    - any-glob-to-any-file:
      - '*.yml'
      - '*.yaml'
      - '*.toml'
      - '*.json'
      - '.env.example'
      - 'backend/core/hybrid_config.yaml'

ci/cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - '**/requirements*.txt'
      - '**/package*.json'
      - '**/Cargo.toml'
      - '**/go.mod'
      - 'Pipfile'
      - 'poetry.lock'

infrastructure:
  - changed-files:
    - any-glob-to-any-file:
      - 'infrastructure/**/*'
      - 'terraform/**/*'
      - 'k8s/**/*'
      - 'kubernetes/**/*'
      - 'docker-compose*.yml'
      - 'Dockerfile*'

security:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*security*'
      - '**/*auth*'
      - '**/*credential*'

performance:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*benchmark*'
      - '**/*performance*'
      - '**/*optimization*'

cloud:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*gcp*'
      - '**/*cloud*'
      - '**/*cloudsql*'

ai-ml:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*model*'
      - '**/*ml*'
      - '**/*agent*'
      - 'backend/agents/**/*'
      - 'ml_models/**/*'

voice:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*voice*'
      - '**/*audio*'
      - '**/*speaker*'
      - 'backend/services/voice_*'

vision:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*vision*'
      - '**/*ocr*'
      - '**/*screenshot*'

scripts:
  - changed-files:
    - any-glob-to-any-file:
      - 'scripts/**/*'
      - '*.sh'
      - '*.py'

github-actions:
  - changed-files:
    - any-glob-to-any-file: '.github/**/*'

feat: Introduce BEAST MODE feature detection in voice authentication
  start_system.py
Labels: scripts

feat: Add voice unlock diagnostic test script
  backend/test_voice_unlock.py
  backend/voice/advanced_biometric_verification.py
  backend/voice/engines/speechbrain_engine.py
Labels: backend, tests, voice

fix: Update logging for voice authentication metrics in SpeechBrainEngine
  backend/voice/engines/speechbrain_engine.py
Labels: backend

feat: Add JARVIS voice feedback testing scripts and integration
  backend/test_jarvis_voice_simple.py
  backend/test_voice_feedback.py
  backend/voice/voice_unlock_integration.py
Labels: backend, database, tests, voice

feat: Add performance testing script for vision command handling
  VISION_FIX_SUMMARY.md
  VISION_PERFORMANCE_FIX.md
  backend/api/vision_command_handler.py
  backend/enable_beast_mode_now.py
  backend/intelligence/learning_database.py
  backend/test_audio_storage.py
  test_vision_performance.py
Labels: backend, api, database, tests, documentation, performance, voice, vision, scripts

feat: Migrate database passwords to GCP Secret Manager
  .gitleaks.toml
  check_db_schema.py
  test_voice_retrieval.py
Labels: tests, configuration, ai-ml, voice, scripts

docs: Add secret migration documentation and vision architecture analysis
  .gitleaks.toml
  RESTART_JARVIS.md
  SECRET_MIGRATION_COMPLETE.md
  VISION_ARCHITECTURE_ANALYSIS.md
  VISION_HANG_ROOT_CAUSE.md
  backend/context_intelligence/__init__.py
  backend/context_intelligence/automation/__init__.py
  backend/context_intelligence/automation/claude_streamer.py
  diagnose_vision_issue.py
  test_asyncpg.py
  test_complete_voice_flow.py
Labels: backend, tests, documentation, configuration, ai-ml, voice, vision, scripts

fix: Remove hardcoded passwords and fix voice verification TypeError
  .gitleaks.toml
  backend/voice/engines/speechbrain_engine.py
  backend/voice/profile_consolidation_service.py
  diagnose_voice_confidence.py
  fix_voice_profiles.py
  test_voice_unlock_confidence.py
Labels: backend, tests, configuration, ai-ml, voice, scripts

chore: Add fix_voice_embedding_mismatch.py to gitleaks allowlist
  .gitleaks.toml
  backend/voice/speaker_verification_service.py
  fix_voice_embedding_mismatch.py
Labels: backend, configuration, ai-ml, voice, scripts

chore: Add fix_profile_ownership.py to gitleaks allowlist
  .gitleaks.toml
  backend/voice/speaker_verification_service.py
  backend/voice_unlock/intelligent_voice_unlock_service.py
  fix_profile_ownership.py
Labels: backend, configuration, ai-ml, voice, scripts

chore: Add all voice diagnostic scripts to gitleaks allowlist
  .gitleaks.toml
  RESTART_JARVIS.md
  backend/intelligence/learning_database.py
  backend/voice/speaker_verification_service.py
  check_voice_samples.py
  diagnose_verification_failure.py
  test_voice_with_real_audio.py
Labels: backend, database, tests, documentation, configuration, ai-ml, voice, scripts

refactor: Update database query handling in JARVISLearningDatabase
  backend/intelligence/learning_database.py
Labels: backend, database

feat: Add live voice verification testing script
  backend/voice/speaker_verification_service.py
  test_live_verification.py
Labels: backend, tests, voice, scripts

chore: Add more voice diagnostic scripts to gitleaks allowlist
  .gitleaks.toml
  backend/config/voice_config.json
  diagnose_low_confidence.py
  reconstruct_embedding.py
  regenerate_embedding_from_audio.py
  restore_normal_threshold.py
  temporarily_lower_threshold.py
  test_with_lower_threshold.py
Labels: backend, tests, configuration, ai-ml, voice, scripts

fix: Update embedding extraction and database update logic in regenerate_embedding_from_audio.py
  regenerate_embedding_from_audio.py
Labels: voice, scripts

chore: Add verify_embedding_update.py to gitleaks allowlist
  .gitleaks.toml
  RESTART_JARVIS.md
  backend/voice/speaker_verification_service.py
  test_actual_voice.py
  test_fixed_verification.py
  verify_embedding_update.py
Labels: backend, tests, documentation, configuration, ai-ml, voice, scripts

feat: Introduce enhanced speaker verification testing script
  backend/voice/speaker_verification_service.py
  test_enhanced_verification.py
Labels: backend, tests, voice, scripts

feat: Implement voice sample storage and continuous learning features
  backend/intelligence/learning_database.py
  backend/voice/speaker_verification_service.py
Labels: backend, database, voice

feat: Implement voice sample freshness management system
  VOICE_LEARNING_SYSTEM.md
  backend/intelligence/learning_database.py
  backend/voice/enroll_voice.py
  manage_voice_freshness.py
Labels: backend, database, documentation, voice, scripts

feat: Revamp voice sample freshness management with advanced analytics
  manage_voice_freshness.py
Labels: voice, scripts

feat: Integrate Voice Memory Agent for persistent voice recognition
  VOICE_MEMORY_INTEGRATION.md
  backend/agents/__init__.py
  backend/agents/voice_memory_agent.py
  backend/voice/speaker_verification_service.py
  start_system.py
Labels: backend, documentation, ai-ml, voice, scripts

feat: Enhance Voice Memory Agent with autonomous self-healing capabilities
  VOICE_MEMORY_INTEGRATION.md
  backend/agents/voice_memory_agent.py
  start_system.py
Labels: backend, documentation, ai-ml, voice, scripts

feat: Enhance service monitoring with detailed health metrics and uptime tracking
  backend/intelligence/learning_database.py
  start_system.py
Labels: backend, database, scripts

feat: Add confidence analytics to Voice Memory Agent and system monitoring
  backend/agents/voice_memory_agent.py
  start_system.py
Labels: backend, ai-ml, voice, scripts

fix: Update gitleaks allowlist for cloud_sql_proxy_manager
  .gitleaks.toml
  VOICE_MEMORY_INTEGRATION.md
  backend/intelligence/cloud_sql_proxy_manager.py
  start_system.py
Labels: backend, documentation, configuration, cloud, ai-ml, scripts

fix: Add cloud_sql_proxy_manager.py to gitleaks allowlist
  .gitleaks.toml
Labels: configuration, ai-ml

fix: Suppress spurious learned parameters warning on first run
  start_system.py
Labels: scripts

feat: Implement voice profile verification and SAI prediction tracking
  backend/intelligence/cloud_sql_proxy_manager.py
  start_system.py
Labels: backend, cloud, scripts

feat: Enhance CloudSQL monitoring with SAI prediction and proactive self-healing
  backend/intelligence/cloud_sql_proxy_manager.py
  start_system.py
Labels: backend, cloud, scripts

feat: Add SAI prediction tracking to HybridIntelligenceCoordinator
  backend/intelligence/cloud_sql_proxy_manager.py
  start_system.py
Labels: backend, cloud, scripts

feat: Implement voice verification tracking and diagnostics
  backend/voice_unlock/intelligent_voice_unlock_service.py
  start_system.py
Labels: backend, voice, scripts

feat: Integrate AI-driven voice failure analysis and recommendations
  start_system.py
Labels: scripts

fix: Add start_system.py to gitleaks allowlist
  .gitleaks.toml
  start_system.py
Labels: configuration, ai-ml, scripts

feat: Enhance autonomous fixing and voice verification diagnostics
  start_system.py
Labels: scripts

feat: Add voice unlock configuration checks and autonomous setup
  start_system.py
Labels: scripts

feat: Improve voice unlock status endpoint with enhanced error handling and detailed service checks
  backend/api/voice_unlock_api.py
Labels: backend, api, voice

feat: Enhance voice unlock command handling with direct execution for lock/unlock
  backend/api/voice_unlock_integration.py
Labels: backend, api, voice

fix: Add macos_controller.py to gitleaks allowlist
  .gitleaks.toml
  backend/system_control/macos_controller.py
Labels: backend, configuration, ai-ml

refactor: Simplify verification messages and improve timeout responses
  backend/api/simple_unlock_handler.py
  backend/core/async_pipeline.py
  backend/system_control/macos_controller.py
Labels: backend, api, core

feat: Add debug mode for enhanced speaker verification logging
  backend/voice/engines/speechbrain_engine.py
  backend/voice/speaker_verification_service.py
Labels: backend, voice
