Repository drussell23/JARVIS-AI, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, api, database, core, tests, documentation, configuration, ci/cd, dependencies, infrastructure, security, performance, cloud, ai-ml, voice, vision, scripts, github-actions

feat: Add comprehensive startup transparency to start_system.py
  start_system.py
Labels: scripts

feat: Add summary property to VoiceSecurityReport for quick access to test results
  backend/voice_unlock/voice_security_tester.py
Labels: backend, tests, security, voice

feat: Enhance voice biometric security testing with comprehensive audio playback features
  README.md
  backend/voice_unlock/voice_security_tester.py
Labels: backend, tests, documentation, security, voice

feat: Integrate audio playback configuration into voice security testing
  backend/voice_unlock/voice_unlock_integration.py
Labels: backend, voice

feat: Enable audio playback in voice security testing with configurable settings
  backend/core/async_pipeline.py
Labels: backend, core

fix: Update type hint for VoiceProfile in AudioPlayer play method
  backend/voice_unlock/voice_security_tester.py
Labels: backend, tests, security, voice

feat: Update voice verification process to read audio data as bytes
  backend/voice_unlock/voice_security_tester.py
Labels: backend, tests, security, voice

feat: Refactor voice verification service initialization for improved efficiency
  backend/voice_unlock/voice_security_tester.py
Labels: backend, tests, security, voice

feat: Update voice security testing to include speaker identification logging
  backend/voice_unlock/voice_security_tester.py
Labels: backend, tests, security, voice

feat: Introduce script to update speaker profile thresholds to 75% for enhanced security
  backend/voice/speaker_verification_service.py
  update_speaker_thresholds.py
Labels: backend, voice, scripts

feat: Update test mode configuration in AdvancedAsyncPipeline for enhanced testing diversity
  backend/core/async_pipeline.py
Labels: backend, core

feat: Integrate Google Cloud TTS for dynamic voice synthesis in voice security testing
  backend/audio/gcp_tts_service.py
  backend/voice_unlock/voice_security_tester.py
  test_gcp_tts.py
Labels: backend, tests, security, cloud, voice, scripts

feat: Expand voice profile generation for enhanced diversity in security testing
  backend/audio/gcp_tts_service.py
  backend/core/async_pipeline.py
  backend/voice_unlock/voice_security_tester.py
Labels: backend, core, tests, security, cloud, voice

feat: Enhance voice profile generator with African American English variants
  backend/audio/gcp_tts_service.py
Labels: backend, cloud

feat: Enhance voice profile diversity in security testing with additional ethnic and accent variations
  backend/voice_unlock/voice_security_tester.py
Labels: backend, tests, security, voice

feat: Introduce voice diversity testing script and enhance profile generation
  backend/audio/gcp_tts_service.py
  backend/core/async_pipeline.py
  backend/voice_unlock/voice_security_tester.py
  test_voice_diversity.py
Labels: backend, core, tests, security, cloud, voice, scripts

feat: Update GCP TTS service initialization to use permanent cache directory
  backend/voice_unlock/voice_security_tester.py
Labels: backend, tests, security, voice

feat: Add scripts for checking Chirp-HD voices and testing GCP TTS integration
  backend/audio/gcp_tts_service.py
  backend/voice_unlock/voice_security_tester.py
  check_chirp_voices.py
  test_gcp_tts_debug.py
  test_voice_playback.py
Labels: backend, tests, security, cloud, voice, scripts

feat: Expand voice profile generator with additional accents and speed variations
  backend/audio/gcp_tts_service.py
Labels: backend, cloud

feat: Add ElevenLabs TTS integration and setup guide
  ELEVENLABS_SETUP.md
  QUICKSTART_TTS.md
  backend/audio/elevenlabs_tts_service.py
  backend/audio/tts_provider_manager.py
  backend/voice_unlock/voice_security_tester.py
  setup_elevenlabs_voices.py
  setup_tts_voices.py
Labels: backend, tests, documentation, security, voice, scripts

docs: Update README with ElevenLabs TTS Integration
  README.md
Labels: documentation

feat: Implement sequential execution of pipeline stages in AdvancedAsyncPipeline
  backend/core/async_pipeline.py
Labels: backend, core

feat: Add performance metrics recording to AdvancedAsyncPipeline
  backend/core/async_pipeline.py
Labels: backend, core

chore: Add .gitignore for native_extensions build artifacts
  backend/native_extensions/.gitignore
Labels: backend

feat: Modernize native screen capture extension with ScreenCaptureKit
  backend/native_extensions/CMakeLists.txt
  backend/native_extensions/include/fast_capture.h
  backend/native_extensions/src/fast_capture.mm
  backend/native_extensions/src/python_bindings.cpp
Labels: backend

docs: Update native extensions README with modernization details
  backend/native_extensions/README.md
Labels: backend, documentation

fix: Remove failing 'Copy Test Script' step from workflows
  .github/workflows/biometric-voice-unlock-e2e.yml
  .github/workflows/unlock-integration-e2e.yml
Labels: ci/cd, ai-ml, voice, github-actions

fix: Remove incorrect indentation from unlock test script
  .github/workflows/scripts/unlock_integration_e2e_test.py
  .gitleaks.toml
Labels: tests, configuration, ci/cd, ai-ml, github-actions

docs: Improve environment variable documentation coverage
  .env.example
Labels: configuration

docs: Add 7 more high-usage environment variables to reach 5% coverage
  .env.example
Labels: configuration

docs: Add 2 advanced feature flags to exceed 5% coverage threshold
  .env.example
Labels: configuration

docs: Add USE_PICOVOICE to exceed 5.0% threshold (now 5.6%)
  .env.example
Labels: configuration

docs: Increase env var coverage to 9.8% and fix sensitive data false positives
  .env.example
  .github/workflows/env-validation.yml
Labels: configuration, ci/cd, ai-ml, github-actions

docs: Achieve 100% environment variable coverage (701/701 variables)
  .env.example
Labels: configuration

docs: Remove 5 unused environment variables from .env.example
  .env.example
Labels: configuration

fix: Handle empty changed_files array in diagram generation workflow
  .github/workflows/auto-diagram-generator.yml
Labels: ci/cd, ai-ml, github-actions

fix: Resolve vision handler hanging issue with comprehensive error handling
  backend/api/jarvis_voice_api.py
  backend/api/vision_command_handler.py
Labels: backend, api, voice, vision

docs: Add JARVIS Ecosystem Architecture documentation
  JARVIS_ECOSYSTEM_ARCHITECTURE.md
Labels: documentation

feat: Implement port-based detection for JARVIS processes in start_system.py
  docs/fixes/VISION_HANDLER_FIX.md
  start_system.py
Labels: documentation, scripts

feat: Introduce advanced async process detection for JARVIS
  backend/config/process_detection.json
  backend/core/process_detector.py
  docs/ADVANCED_PROCESS_DETECTION.md
  start_system.py
Labels: backend, core, documentation, scripts

.github/labeler.yml:

# Auto-labeler configuration for PR automation (v5 format)

backend:
  - changed-files:
    - any-glob-to-any-file: 'backend/**/*'

frontend:
  - changed-files:
    - any-glob-to-any-file: 'frontend/**/*'

api:
  - changed-files:
    - any-glob-to-any-file:
      - 'backend/api/**/*'
      - 'backend/**/*websocket*'

database:
  - changed-files:
    - any-glob-to-any-file:
      - 'backend/**/*database*'
      - 'backend/**/*db*'
      - 'backend/**/models/*'
      - 'backend/**/migrations/*'

core:
  - changed-files:
    - any-glob-to-any-file: 'backend/core/**/*'

tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'backend/tests/**/*'
      - 'frontend/tests/**/*'
      - 'tests/**/*'
      - '**/*test*.py'
      - '**/*.test.js'
      - '**/*.test.ts'

documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '*.md'
      - 'docs/**/*'
      - '**/*.md'

configuration:
  - changed-files:
    - any-glob-to-any-file:
      - '*.yml'
      - '*.yaml'
      - '*.toml'
      - '*.json'
      - '.env.example'
      - 'backend/core/hybrid_config.yaml'

ci/cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - '**/requirements*.txt'
      - '**/package*.json'
      - '**/Cargo.toml'
      - '**/go.mod'
      - 'Pipfile'
      - 'poetry.lock'

infrastructure:
  - changed-files:
    - any-glob-to-any-file:
      - 'infrastructure/**/*'
      - 'terraform/**/*'
      - 'k8s/**/*'
      - 'kubernetes/**/*'
      - 'docker-compose*.yml'
      - 'Dockerfile*'

security:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*security*'
      - '**/*auth*'
      - '**/*credential*'

performance:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*benchmark*'
      - '**/*performance*'
      - '**/*optimization*'

cloud:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*gcp*'
      - '**/*cloud*'
      - '**/*cloudsql*'

ai-ml:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*model*'
      - '**/*ml*'
      - '**/*agent*'
      - 'backend/agents/**/*'
      - 'ml_models/**/*'

voice:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*voice*'
      - '**/*audio*'
      - '**/*speaker*'
      - 'backend/services/voice_*'

vision:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*vision*'
      - '**/*ocr*'
      - '**/*screenshot*'

scripts:
  - changed-files:
    - any-glob-to-any-file:
      - 'scripts/**/*'
      - '*.sh'
      - '*.py'

github-actions:
  - changed-files:
    - any-glob-to-any-file: '.github/**/*'
