Repository drussell23/JARVIS-AI, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, api, database, core, tests, documentation, configuration, ci/cd, dependencies, infrastructure, security, performance, cloud, ai-ml, voice, vision, scripts, github-actions

.github/labeler.yml:

# Auto-labeler configuration for PR automation (v5 format)

backend:
  - changed-files:
    - any-glob-to-any-file: 'backend/**/*'

frontend:
  - changed-files:
    - any-glob-to-any-file: 'frontend/**/*'

api:
  - changed-files:
    - any-glob-to-any-file:
      - 'backend/api/**/*'
      - 'backend/**/*websocket*'

database:
  - changed-files:
    - any-glob-to-any-file:
      - 'backend/**/*database*'
      - 'backend/**/*db*'
      - 'backend/**/models/*'
      - 'backend/**/migrations/*'

core:
  - changed-files:
    - any-glob-to-any-file: 'backend/core/**/*'

tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'backend/tests/**/*'
      - 'frontend/tests/**/*'
      - 'tests/**/*'
      - '**/*test*.py'
      - '**/*.test.js'
      - '**/*.test.ts'

documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '*.md'
      - 'docs/**/*'
      - '**/*.md'

configuration:
  - changed-files:
    - any-glob-to-any-file:
      - '*.yml'
      - '*.yaml'
      - '*.toml'
      - '*.json'
      - '.env.example'
      - 'backend/core/hybrid_config.yaml'

ci/cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - '**/requirements*.txt'
      - '**/package*.json'
      - '**/Cargo.toml'
      - '**/go.mod'
      - 'Pipfile'
      - 'poetry.lock'

infrastructure:
  - changed-files:
    - any-glob-to-any-file:
      - 'infrastructure/**/*'
      - 'terraform/**/*'
      - 'k8s/**/*'
      - 'kubernetes/**/*'
      - 'docker-compose*.yml'
      - 'Dockerfile*'

security:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*security*'
      - '**/*auth*'
      - '**/*credential*'

performance:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*benchmark*'
      - '**/*performance*'
      - '**/*optimization*'

cloud:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*gcp*'
      - '**/*cloud*'
      - '**/*cloudsql*'

ai-ml:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*model*'
      - '**/*ml*'
      - '**/*agent*'
      - 'backend/agents/**/*'
      - 'ml_models/**/*'

voice:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*voice*'
      - '**/*audio*'
      - '**/*speaker*'
      - 'backend/services/voice_*'

vision:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*vision*'
      - '**/*ocr*'
      - '**/*screenshot*'

scripts:
  - changed-files:
    - any-glob-to-any-file:
      - 'scripts/**/*'
      - '*.sh'
      - '*.py'

github-actions:
  - changed-files:
    - any-glob-to-any-file: '.github/**/*'

feat: Improve speaker encoder loading with dedicated thread pool and timeout handling
  backend/voice/engines/speechbrain_engine.py
Labels: backend

feat: Enhance process cleanup manager with deadlock detection and CloudSQL connection handling
  backend/process_cleanup_manager.py
Labels: backend

feat: Implement singleton CloudSQL connection manager with zero-leak guarantee
  .gitleaks.toml
  CONNECTION_MANAGEMENT_UPGRADE.md
  README_CONNECTION_MGMT_SECTION.md
  backend/LIFECYCLE_INTEGRATION.md
  backend/core/lifecycle_manager.py
  backend/intelligence/cloud_database_adapter.py
  backend/intelligence/cloud_sql_connection_manager.py
  backend/intelligence/hybrid_database_sync.py
  backend/process_cleanup_manager.py
  diagnose_connections.py
  test_connection_manager.py
Labels: backend, database, core, tests, documentation, configuration, cloud, ai-ml, scripts

fix: Update start_system.py to use max_connections directly from hybrid_sync
  start_system.py
Labels: scripts

fix: Resolve asyncio shutdown conflicts and add explicit database cleanup
  backend/intelligence/cloud_sql_connection_manager.py
  start_system.py
Labels: backend, cloud, scripts

feat: Add voice profile bootstrap and offline authentication support
  backend/intelligence/hybrid_database_sync.py
Labels: backend, database

feat: Ultra-robust voice profile caching with automatic warming and staleness detection
  backend/intelligence/hybrid_database_sync.py
Labels: backend, database

feat: Add automatic voice cache bootstrap to start_system.py --restart
  start_system.py
Labels: scripts

fix: Remove duplicate Path import that shadowed global
  start_system.py
Labels: scripts

fix: Update bootstrap query to match actual CloudSQL schema
  backend/intelligence/hybrid_database_sync.py
Labels: backend, database

fix: Skip profiles with NULL embeddings during bootstrap
  backend/intelligence/hybrid_database_sync.py
Labels: backend, database

feat: Implement intelligent voice cache bootstrap with connection error handling
  .gitleaks.toml
  VOICE_CACHE_SYSTEM.md
  VOICE_UNLOCK_QUICK_START.md
  backend/intelligence/cloud_sql_connection_manager.py
  backend/intelligence/hybrid_database_sync.py
  check_schema.py
  test_voice_cache.py
Labels: backend, database, tests, documentation, configuration, cloud, ai-ml, voice, scripts

fix: Correct voice cache database path and speaker encoder attribute check
  start_system.py
Labels: scripts

feat: Add hanging start_system.py detection and cleanup
  backend/process_cleanup_manager.py
Labels: backend

fix: Pass audio_data through unified_command_processor for voice verification
  backend/api/unified_command_processor.py
  test_speaker_verification_live.py
Labels: backend, api, tests, voice, scripts

fix: Resolve TypeError in speaker verification quality score logging
  backend/voice/speaker_verification_service.py
Labels: backend, voice

feat: Comprehensive voice unlock enhancement - fix all bugs and add advanced features
  backend/core/async_pipeline.py
  backend/voice_unlock/intelligent_voice_unlock_service.py
Labels: backend, core, voice

fix: Eliminate hardcoded transcription fallbacks and add robust audio validation
  backend/voice/hybrid_stt_router.py
  backend/voice/whisper_audio_fix.py
Labels: backend, voice

feat: Comprehensive voice unlock robustness - eliminate all failure paths
  backend/process_cleanup_manager.py
Labels: backend

feat: Add universal audio normalization pipeline with auto-detect sample rate
  backend/voice/whisper_audio_fix.py
Labels: backend, voice

feat: Add dynamic sample rate detection + frontend metadata transmission (NO hardcoding!)
  backend/api/unified_websocket.py
  backend/voice/hybrid_stt_router.py
  backend/voice/whisper_audio_fix.py
  backend/voice_unlock/intelligent_voice_unlock_service.py
  diagnose_unlock_flow.py
  frontend/src/components/JarvisVoice.js
Labels: backend, frontend, api, voice, scripts

feat: Add bulletproof force restart mechanism for JARVIS
  backend/process_cleanup_manager.py
  start_system.py
Labels: backend, scripts

feat: Bulletproof force restart mechanism with enhanced process detection
  backend/process_cleanup_manager.py
Labels: backend

fix: Pass sample_rate from metadata to intelligent unlock service context
  backend/core/async_pipeline.py
  backend/voice/whisper_audio_fix.py
Labels: backend, core, voice

fix: Ensure audio data is always returned as bytes in audio_format_converter
  backend/voice/audio_format_converter.py
Labels: backend, voice

fix: Add base64 decoding for audio data in IntelligentVoiceUnlockService
  backend/voice_unlock/intelligent_voice_unlock_service.py
Labels: backend, voice

fix: Enhance logging and transcription process in WhisperAudioHandler
  backend/voice/whisper_audio_fix.py
Labels: backend, voice

fix: Bypass WAV file creation for direct audio transcription in WhisperAudioHandler
  backend/voice/whisper_audio_fix.py
Labels: backend, voice

fix: Improve audio decoding process in WhisperAudioHandler
  backend/voice/whisper_audio_fix.py
Labels: backend, voice

fix: Enhance quality score handling in SpeakerVerificationService
  backend/voice/speaker_verification_service.py
Labels: backend, voice

feat: Implement owner-aware anti-spoof fusion in biometric verification
  backend/voice/advanced_biometric_verification.py
  backend/voice_unlock/config.py
Labels: backend

fix: Adjust base unlock threshold for owner-aware fusion compatibility
  backend/voice/voice_unlock_integration.py
Labels: backend, voice

refactor: Update voice unlock integration for silent unlock
  backend/voice/voice_unlock_integration.py
  backend/voice_unlock/intelligent_voice_unlock_service.py
Labels: backend, voice

fix: Adjust verification threshold in SpeakerVerificationService
  backend/voice/speaker_verification_service.py
Labels: backend, voice

feat: Implement audio windowing and VAD for improved transcription accuracy
  backend/voice/audio_windowing.py
  backend/voice/hybrid_stt_router.py
  backend/voice/vad/__init__.py
  backend/voice/vad/base.py
  backend/voice/vad/pipeline.py
  backend/voice/vad/silero_vad.py
  backend/voice/vad/webrtc_vad.py
  backend/voice/whisper_audio_fix.py
  backend/voice_unlock/intelligent_voice_unlock_service.py
Labels: backend, voice

feat: Introduce Streaming Safeguard for command detection in audio streams
  backend/api/unified_websocket.py
  backend/voice/streaming_safeguard.py
  backend/voice/voice_pipeline_config.py
Labels: backend, api, voice

feat: Enhance voice pipeline with VAD, audio windowing, and command detection
  IMPLEMENTATION_SUMMARY.md
  backend/voice/test_voice_pipeline.py
  backend/voice/unified_vad_api.py
  docs/VOICE_PIPELINE_NOTES.md
  frontend/FRONTEND_INTEGRATION_GUIDE.md
  frontend/src/components/CommandDetectionBanner.js
  frontend/src/components/JarvisVoice.js
  frontend/src/utils/HybridSTTClient.js
Labels: backend, frontend, tests, documentation, voice

fix: Correct formatting in CommandDetectionBanner component
  frontend/src/components/CommandDetectionBanner.js
Labels: frontend

fix: Complete OCR strategy manager and fix CostTracker await
  backend/context_intelligence/managers/ocr_strategy_manager.py
  backend/core/gcp_vm_manager.py
Labels: backend, core, cloud, vision

fix: Improve audio chunk processing in Silero VAD
  backend/voice/vad/silero_vad.py
Labels: backend
