Repository drussell23/JARVIS-AI, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, api, database, core, tests, documentation, configuration, ci/cd, dependencies, infrastructure, security, performance, cloud, ai-ml, voice, vision, scripts, github-actions

.github/labeler.yml:

# Auto-labeler configuration for PR automation

# Backend
backend:
  - backend/**/*

# Frontend
frontend:
  - frontend/**/*

# API
api:
  - backend/api/**/*
  - backend/**/*websocket*

# Database
database:
  - backend/**/*database*
  - backend/**/*db*
  - backend/**/models/*
  - backend/**/migrations/*

# Core
core:
  - backend/core/**/*

# Tests
tests:
  - backend/tests/**/*
  - frontend/tests/**/*
  - tests/**/*
  - "**/*test*.py"
  - "**/*.test.js"
  - "**/*.test.ts"

# Documentation
documentation:
  - "*.md"
  - docs/**/*
  - "**/*.md"

# Configuration
configuration:
  - "*.yml"
  - "*.yaml"
  - "*.toml"
  - "*.json"
  - .env.example
  - backend/core/hybrid_config.yaml

# CI/CD
ci/cd:
  - .github/workflows/**/*
  - .github/actions/**/*

# Dependencies
dependencies:
  - "**/requirements*.txt"
  - "**/package*.json"
  - "**/Cargo.toml"
  - "**/go.mod"
  - Pipfile
  - poetry.lock

# Infrastructure
infrastructure:
  - infrastructure/**/*
  - terraform/**/*
  - k8s/**/*
  - kubernetes/**/*
  - docker-compose*.yml
  - Dockerfile*

# Security
security:
  - "**/*security*"
  - "**/*auth*"
  - "**/*credential*"

# Performance
performance:
  - "**/*benchmark*"
  - "**/*performance*"
  - "**/*optimization*"

# GCP / Cloud
cloud:
  - "**/*gcp*"
  - "**/*cloud*"
  - "**/*cloudsql*"

# AI/ML
ai-ml:
  - "**/*model*"
  - "**/*ml*"
  - "**/*agent*"
  - backend/agents/**/*
  - ml_models/**/*

# Voice
voice:
  - "**/*voice*"
  - "**/*audio*"
  - "**/*speaker*"
  - backend/services/voice_*

# Vision
vision:
  - "**/*vision*"
  - "**/*ocr*"
  - "**/*screenshot*"

# Scripts
scripts:
  - scripts/**/*
  - "*.sh"
  - "*.py" # root level scripts

# GitHub specific
github-actions:
  - .github/**/*

ci: Add Dependabot auto-fix and safe auto-merge workflow
  .github/workflows/dependabot-auto-fix.yml
Labels: ci/cd, ai-ml, github-actions

feat: Add Claude AI-powered GitHub Actions workflows
  .github/workflows/claude-auto-fix.yml
  .github/workflows/claude-docs-generator.yml
  .github/workflows/claude-pr-analyzer.yml
  .github/workflows/claude-security-analyzer.yml
  .github/workflows/claude-test-generator.yml
  CLAUDE_AI_WORKFLOWS.md
Labels: documentation, ci/cd, security, ai-ml, github-actions

test: Add test file for Claude AI workflows
  test_claude_ai.py
Labels: tests, scripts

docs: Add comprehensive Claude AI workflows documentation
  docs/claude-ai-workflows/01-quick-start.md
  docs/claude-ai-workflows/02-detailed-setup.md
  docs/claude-ai-workflows/03-first-pr-walkthrough.md
  docs/claude-ai-workflows/04-architecture-overview.md
  docs/claude-ai-workflows/07-pr-analyzer-deep-dive.md
  docs/claude-ai-workflows/13-cost-optimization.md
  docs/claude-ai-workflows/17-troubleshooting.md
  docs/claude-ai-workflows/18-faq.md
  docs/claude-ai-workflows/19-best-practices.md
  docs/claude-ai-workflows/README.md
Labels: documentation, performance

feat: Add robust file filtering and content truncation to Claude PR Analyzer
  .github/workflows/claude-pr-analyzer.yml
Labels: ci/cd, ai-ml, github-actions

feat: Make Claude PR Analyzer fully async, robust and production-ready
  .github/workflows/claude-pr-analyzer.yml
Labels: ci/cd, ai-ml, github-actions

feat: Add exponential backoff retry logic for transient API errors
  .github/workflows/claude-pr-analyzer.yml
Labels: ci/cd, ai-ml, github-actions

feat: Add rate limiting protection to prevent API throttling
  .github/workflows/claude-pr-analyzer.yml
Labels: ci/cd, ai-ml, github-actions
