Repository drussell23/JARVIS-AI, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, api, database, core, tests, documentation, configuration, ci/cd, dependencies, infrastructure, security, performance, cloud, ai-ml, voice, vision, scripts, github-actions

.github/labeler.yml:

# Auto-labeler configuration for PR automation (v5 format)

backend:
  - changed-files:
    - any-glob-to-any-file: 'backend/**/*'

frontend:
  - changed-files:
    - any-glob-to-any-file: 'frontend/**/*'

api:
  - changed-files:
    - any-glob-to-any-file:
      - 'backend/api/**/*'
      - 'backend/**/*websocket*'

database:
  - changed-files:
    - any-glob-to-any-file:
      - 'backend/**/*database*'
      - 'backend/**/*db*'
      - 'backend/**/models/*'
      - 'backend/**/migrations/*'

core:
  - changed-files:
    - any-glob-to-any-file: 'backend/core/**/*'

tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'backend/tests/**/*'
      - 'frontend/tests/**/*'
      - 'tests/**/*'
      - '**/*test*.py'
      - '**/*.test.js'
      - '**/*.test.ts'

documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '*.md'
      - 'docs/**/*'
      - '**/*.md'

configuration:
  - changed-files:
    - any-glob-to-any-file:
      - '*.yml'
      - '*.yaml'
      - '*.toml'
      - '*.json'
      - '.env.example'
      - 'backend/core/hybrid_config.yaml'

ci/cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - '**/requirements*.txt'
      - '**/package*.json'
      - '**/Cargo.toml'
      - '**/go.mod'
      - 'Pipfile'
      - 'poetry.lock'

infrastructure:
  - changed-files:
    - any-glob-to-any-file:
      - 'infrastructure/**/*'
      - 'terraform/**/*'
      - 'k8s/**/*'
      - 'kubernetes/**/*'
      - 'docker-compose*.yml'
      - 'Dockerfile*'

security:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*security*'
      - '**/*auth*'
      - '**/*credential*'

performance:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*benchmark*'
      - '**/*performance*'
      - '**/*optimization*'

cloud:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*gcp*'
      - '**/*cloud*'
      - '**/*cloudsql*'

ai-ml:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*model*'
      - '**/*ml*'
      - '**/*agent*'
      - 'backend/agents/**/*'
      - 'ml_models/**/*'

voice:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*voice*'
      - '**/*audio*'
      - '**/*speaker*'
      - 'backend/services/voice_*'

vision:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*vision*'
      - '**/*ocr*'
      - '**/*screenshot*'

scripts:
  - changed-files:
    - any-glob-to-any-file:
      - 'scripts/**/*'
      - '*.sh'
      - '*.py'

github-actions:
  - changed-files:
    - any-glob-to-any-file: '.github/**/*'

chore: Disable automatic Claude AI workflows to save API costs
  .github/workflows/claude-auto-fix.yml
  .github/workflows/claude-docs-generator.yml
  .github/workflows/claude-pr-analyzer.yml
  .github/workflows/claude-security-analyzer.yml
  .github/workflows/claude-test-generator.yml
Labels: ci/cd, security, ai-ml, github-actions

fix: Resolve Python syntax errors preventing JARVIS startup
  backend/core/platform_memory_monitor.py
  backend/voice/engines/speechbrain_engine.py
Labels: backend, core

feat: Implement robust batch transcription with intelligent caching
  backend/voice/engines/speechbrain_engine.py
Labels: backend

fix: Complete incomplete function signatures causing startup failures
  backend/core/async_pipeline.py
  backend/vision/reliable_screenshot_capture.py
Labels: backend, core, vision

feat: Implement proper cache and lock/unlock using existing systems
  backend/core/async_pipeline.py
  backend/vision/reliable_screenshot_capture.py
Labels: backend, core, vision

chore: Disable automatic deployments to prevent credential errors
  .github/workflows/deployment.yml
Labels: ci/cd, ai-ml, github-actions

refactor: Clean up imports and improve code formatting in document writer and context graph
  .pre-commit-config.yaml
  backend/context_intelligence/executors/document_writer.py
  backend/core/async_pipeline.py
  backend/core/context/multi_space_context_graph.py
  backend/core/nlp/implicit_reference_resolver.py
Labels: backend, core, configuration, ai-ml

fix: Update database retrieval to use async calls and correct function references
  .github/workflows/code-quality.yml
  .pre-commit-config.yaml
  backend/api/component_warmup_config.py
  backend/intelligence/goal_autonomous_uae_integration.py
  backend/main.py
  backend/voice/intelligent_voice_router.py
  backend/voice/speaker_recognition.py
Labels: backend, api, configuration, ci/cd, ai-ml, voice, github-actions

feat: Implement WebSocket Self-Healing Validation Workflow
  .github/workflows/README.md
  .github/workflows/config/websocket-test-config.json
  .github/workflows/docs/IMPLEMENTATION_SUMMARY.md
  .github/workflows/docs/WEBSOCKET_HEALTH_VALIDATION.md
  .github/workflows/docs/WEBSOCKET_QUICK_REFERENCE.md
  .github/workflows/scripts/websocket_status_badge.py
  .github/workflows/websocket-health-validation.yml
Labels: documentation, ci/cd, ai-ml, github-actions

feat: Enhance document writing and context management features
  backend/context_intelligence/executors/document_writer.py
  backend/core/async_pipeline.py
  backend/core/context/multi_space_context_graph.py
  backend/core/nlp/implicit_reference_resolver.py
  backend/display/advanced_display_monitor.py
  backend/memory/memory_manager.py
Labels: backend, core

feat: Add universal screen lock detection and enhance context management
  backend/core/async_pipeline.py
  backend/core/context/context_integration_bridge.py
  backend/core/nlp/implicit_reference_resolver.py
  backend/display/advanced_display_monitor.py
Labels: backend, core

feat: Introduce command processing methods in AdvancedAsyncPipeline
  backend/core/async_pipeline.py
Labels: backend, core

feat: Add comprehensive Screen Lock/Unlock E2E Testing workflow and documentation
  .github/workflows/docs/SCREEN_LOCK_E2E_TESTING.md
  .github/workflows/docs/SCREEN_LOCK_QUICK_REF.md
  .github/workflows/screen-lock-e2e-test.yml
Labels: documentation, ci/cd, ai-ml, github-actions

feat: Add live system monitoring and alerting workflow
  .github/workflows/live-monitoring-alerts.yml
  backend/core/async_pipeline.py
Labels: backend, core, ci/cd, ai-ml, github-actions

feat: Enhance lock/unlock command handling with monitoring and logging
  .github/workflows/live-monitoring-alerts.yml
  backend/core/async_pipeline.py
Labels: backend, core, ci/cd, ai-ml, github-actions

feat: Add Unlock Integration E2E Testing Workflow and Documentation
  .github/workflows/docs/UNLOCK_INTEGRATION_E2E.md
  .github/workflows/docs/UNLOCK_INTEGRATION_QUICK_REF.md
  .github/workflows/unlock-integration-e2e.yml
  backend/core/async_pipeline.py
  backend/macos_keychain_unlock.py
Labels: backend, core, documentation, ci/cd, ai-ml, github-actions

feat: Implement Voice Unlock Integration with Async Pipeline
  VOICE_UNLOCK_INTEGRATION.md
  backend/core/async_pipeline.py
  backend/macos_keychain_unlock.py
Labels: backend, core, documentation

feat: Integrate Secure Password Typer for Enhanced macOS Keychain Unlocking
  backend/macos_keychain_unlock.py
  backend/voice_unlock/secure_password_typer.py
Labels: backend

feat: Expand Unlock Integration E2E Testing with New Secure Features
  .github/workflows/docs/UNLOCK_INTEGRATION_E2E.md
  .github/workflows/docs/UNLOCK_INTEGRATION_QUICK_REF.md
  .github/workflows/unlock-integration-e2e.yml
  backend/macos_keychain_unlock.py
  backend/voice_unlock/SECURE_PASSWORD_TYPER.md
  backend/voice_unlock/secure_password_typer.py
Labels: backend, documentation, ci/cd, ai-ml, github-actions

feat: Update Unlock Integration E2E Workflow to Include Voice Unlock Components
  .github/workflows/biometric-voice-unlock-e2e.yml
  .github/workflows/complete-unlock-test-suite.yml
  .github/workflows/docs/AUTO_RUN_SUMMARY.md
  .github/workflows/docs/BIOMETRIC_VOICE_UNLOCK_E2E.md
  .github/workflows/unlock-integration-e2e.yml
Labels: documentation, ci/cd, ai-ml, voice, github-actions

feat: Implement Advanced CI/CD Auto-PR System for Automated Failure Handling
  .github/workflows/config/ci-auto-pr-config.yml
  .github/workflows/docs/CI-AUTO-PR-SYSTEM.md
  .github/workflows/failed-ci-auto-pr.yml
  .github/workflows/scripts/ci_auto_pr_manager.py
Labels: documentation, ci/cd, ai-ml, github-actions

feat: Add Comprehensive Documentation for JARVIS AI Agent
  wiki/API-Documentation.md
  wiki/Architecture-&-Design.md
  wiki/CI-CD-Workflows.md
  wiki/Contributing-Guidelines.md
  wiki/Edge-Cases-&-Testing.md
  wiki/Home.md
  wiki/MAS-Roadmap.md
  wiki/Quick-Reference.md
  wiki/README.md
  wiki/Setup-&-Installation.md
  wiki/Troubleshooting-Guide.md
Labels: documentation

feat: Introduce JARVIS Wiki Deployment and Diagram System
  .github/workflows/auto-diagram-generator.yml
  DIAGRAM_SYSTEM_SUMMARY.md
  deploy-wiki.sh
  diagrams/QUICK_REFERENCE.md
  diagrams/README.md
  diagrams/examples/diagram-workflow.mmd
  init-wiki.sh
  wiki/Architecture-&-Design.md
  wiki/Diagram-System.md
  wiki/Home.md
Labels: documentation, ci/cd, ai-ml, scripts, github-actions

feat: Add JARVIS Status Checker and Voice Biometric Testing Documentation
  .github/workflows/biometric-voice-unlock-e2e.yml
  .github/workflows/voice-biometric-edge-cases.yml
  VOICE_BIOMETRIC_TESTING_GUIDE.md
  VOICE_BIOMETRIC_TESTING_SUMMARY.md
  check-jarvis-status.sh
Labels: documentation, ci/cd, ai-ml, voice, scripts, github-actions

feat: Optimize Voice Unlock System for Instant Response
  VOICE_UNLOCK_OPTIMIZATION.md
  WARMUP_SYSTEM.md
  backend/api/component_warmup_config.py
Labels: backend, api, documentation

feat: Implement ULTRA-ADVANCED Dynamic Component Warmup System
  COMPONENT_WARMUP_ENHANCEMENT.md
  PATTERN_DISCOVERY_ENHANCEMENT.md
  backend/api/component_warmup_config.py
Labels: backend, api, documentation

fix: Update start_system.py file permissions to executable
  start_system.py
Labels: scripts

feat: Add JARVIS STT Fix and Voice Recognition Testing Scripts
  fix_jarvis_stt.sh
  fix_stt_and_test.sh
  jarvis_config_stt.json
  test_voice_diagnostics.py
  test_voice_unlock_pipeline.py
  test_voice_unlock_recognition.py
  test_whisper_stt.py
Labels: tests, configuration, voice, scripts

feat: Introduce Whisper STT Override and Testing Scripts for JARVIS
  backend/voice/hybrid_stt_router.py
  backend/voice/whisper_override.py
  fix_jarvis_whisper.py
  test_whisper_direct.py
Labels: backend, tests, scripts

feat: Add Integrated Whisper STT Testing and Fallback Mechanism
  backend/voice/hybrid_stt_router.py
  test_integrated_whisper.py
Labels: backend, tests, scripts

feat: Implement Comprehensive STT Fix to Force Whisper Transcriptions
  backend/voice/hybrid_stt_router.py
  fix_stt_comprehensive.py
Labels: backend, scripts

feat: Enhance Audio Data Handling in STT Processing
  backend/voice/engines/whisper_local_engine.py
  backend/voice/hybrid_stt_router.py
Labels: backend

feat: Implement Robust Whisper Transcription Handler
  backend/voice/hybrid_stt_router.py
  backend/voice/whisper_audio_fix.py
Labels: backend, voice

feat: Introduce Audio Format Converter for STT Processing
  backend/voice/audio_format_converter.py
  backend/voice/engines/whisper_local_engine.py
  backend/voice_unlock/intelligent_voice_unlock_service.py
Labels: backend, voice

feat: Add Voice Enrollment and Testing Scripts for JARVIS
  backend/voice/engines/speechbrain_engine.py
  backend/voice/engines/whisper_local_engine.py
  enroll_derek_voice.py
  test_unlock_direct.py
  test_voice_unlock_final.py
Labels: backend, tests, voice, scripts

feat: Add Speaker Verification and Cosine Similarity Computation
  backend/voice/engines/speechbrain_engine.py
Labels: backend

feat: Add Diagnostic Script for Speaker Verification Pipeline
  backend/voice/engines/speechbrain_engine.py
  diagnose_speaker_verification.py
Labels: backend, voice, scripts

feat: Enhance Logging for Speaker Embedding Extraction and Verification
  backend/voice/engines/speechbrain_engine.py
Labels: backend

feat: Improve Speaker Profile Loading with Enhanced Logging and Error Handling
  backend/voice/speaker_verification_service.py
Labels: backend, voice

refactor: Update Database Access in Speaker Recognition and Verification
  backend/voice/speaker_recognition.py
  backend/voice/speaker_verification_service.py
Labels: backend, voice
