Repository drussell23/JARVIS-AI, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, api, database, core, tests, documentation, configuration, ci/cd, dependencies, infrastructure, security, performance, cloud, ai-ml, voice, vision, scripts, github-actions

.github/labeler.yml:

# Auto-labeler configuration for PR automation (v5 format)

backend:
  - changed-files:
    - any-glob-to-any-file: 'backend/**/*'

frontend:
  - changed-files:
    - any-glob-to-any-file: 'frontend/**/*'

api:
  - changed-files:
    - any-glob-to-any-file:
      - 'backend/api/**/*'
      - 'backend/**/*websocket*'

database:
  - changed-files:
    - any-glob-to-any-file:
      - 'backend/**/*database*'
      - 'backend/**/*db*'
      - 'backend/**/models/*'
      - 'backend/**/migrations/*'

core:
  - changed-files:
    - any-glob-to-any-file: 'backend/core/**/*'

tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'backend/tests/**/*'
      - 'frontend/tests/**/*'
      - 'tests/**/*'
      - '**/*test*.py'
      - '**/*.test.js'
      - '**/*.test.ts'

documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '*.md'
      - 'docs/**/*'
      - '**/*.md'

configuration:
  - changed-files:
    - any-glob-to-any-file:
      - '*.yml'
      - '*.yaml'
      - '*.toml'
      - '*.json'
      - '.env.example'
      - 'backend/core/hybrid_config.yaml'

ci/cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - '**/requirements*.txt'
      - '**/package*.json'
      - '**/Cargo.toml'
      - '**/go.mod'
      - 'Pipfile'
      - 'poetry.lock'

infrastructure:
  - changed-files:
    - any-glob-to-any-file:
      - 'infrastructure/**/*'
      - 'terraform/**/*'
      - 'k8s/**/*'
      - 'kubernetes/**/*'
      - 'docker-compose*.yml'
      - 'Dockerfile*'

security:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*security*'
      - '**/*auth*'
      - '**/*credential*'

performance:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*benchmark*'
      - '**/*performance*'
      - '**/*optimization*'

cloud:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*gcp*'
      - '**/*cloud*'
      - '**/*cloudsql*'

ai-ml:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*model*'
      - '**/*ml*'
      - '**/*agent*'
      - 'backend/agents/**/*'
      - 'ml_models/**/*'

voice:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*voice*'
      - '**/*audio*'
      - '**/*speaker*'
      - 'backend/services/voice_*'

vision:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*vision*'
      - '**/*ocr*'
      - '**/*screenshot*'

scripts:
  - changed-files:
    - any-glob-to-any-file:
      - 'scripts/**/*'
      - '*.sh'
      - '*.py'

github-actions:
  - changed-files:
    - any-glob-to-any-file: '.github/**/*'

refactor: Enhance import handling in async_pipeline.py for improved module resolution
  backend/core/async_pipeline.py
  backend/ml_models/audio_models.pkl
Labels: backend, core, ai-ml, voice

refactor: Update keychain password handling in AsyncSystemManager for consistency
  backend/ml_models/audio_models.pkl
  start_system.py
Labels: backend, ai-ml, voice, scripts

refactor: Enhance anti-spoofing detection in AsyncSystemManager and improve HybridSTTRouter initialization
  backend/ml_models/audio_models.pkl
  backend/voice/hybrid_stt_router.py
  start_system.py
Labels: backend, ai-ml, voice, scripts

refactor: Update speaker verification service for improved singleton management
  backend/ml_models/audio_models.pkl
  backend/voice/speaker_verification_service.py
Labels: backend, ai-ml, voice

refactor: Update macOS keychain service identifiers for clarity and consistency
  backend/macos_keychain_unlock.py
  backend/ml_models/audio_models.pkl
Labels: backend, ai-ml, voice

refactor: Add DaemonThreadPoolExecutor for clean shutdown support
  backend/core/thread_manager.py
  backend/intelligence/hybrid_database_sync.py
  backend/voice/streaming_processor.py
  backend/voice_unlock/intelligent_voice_unlock_service.py
  backend/voice_unlock/voice_unlock_integration.py
Labels: backend, database, core, voice

refactor: Update audio model binary for improved performance
  backend/ml_models/audio_models.pkl
Labels: backend, ai-ml, voice

refactor: Update audio model binary for enhanced performance
  backend/ml_models/audio_models.pkl
Labels: backend, ai-ml, voice

refactor: Update speaker verification service for compatibility with newer Langfuse versions
  backend/ml_models/audio_models.pkl
  backend/voice/speaker_verification_service.py
Labels: backend, ai-ml, voice

refactor: Enhance speaker verification service with session management and Langfuse integration
  backend/ml_models/audio_models.pkl
  backend/voice/speaker_verification_service.py
  backend/voice_unlock/jarvis_command_handler.py
  backend/voice_unlock/voice_unlock_integration.py
Labels: backend, ai-ml, voice

refactor: Update speaker verification service for Langfuse v3.x SDK integration
  backend/voice/speaker_verification_service.py
Labels: backend, voice

refactor: Enhance voice unlock system with advanced AI features and logging improvements
  backend/ml_models/audio_models.pkl
  backend/voice_unlock/README.md
  backend/voice_unlock/voice_unlock_integration.py
Labels: backend, documentation, ai-ml, voice

refactor: Revamp JARVIS voice command handler with async features and enhanced command matching
  backend/ml_models/audio_models.pkl
  backend/voice_unlock/jarvis_command_handler.py
Labels: backend, ai-ml, voice

feat: Implement continuous learning progress tracking for voice unlock system
  backend/ml_models/audio_models.pkl
  backend/voice_unlock/metrics_database.py
  backend/voice_unlock/unlock_metrics_logger.py
Labels: backend, database, ai-ml, voice

feat: Introduce Display-Aware Situational Awareness Intelligence for voice unlock
  backend/ml_models/audio_models.pkl
  backend/voice_unlock/display_aware_sai.py
  backend/voice_unlock/intelligent_voice_unlock_service.py
  backend/voice_unlock/secure_password_typer.py
Labels: backend, ai-ml, voice

feat: Enhance TV detection capabilities in display-aware SAI
  backend/ml_models/audio_models.pkl
  backend/voice_unlock/display_aware_sai.py
Labels: backend, ai-ml, voice

feat: Implement display context tracking and TV unlock analytics
  backend/voice_unlock/display_aware_sai.py
  backend/voice_unlock/metrics_database.py
  backend/voice_unlock/secure_password_typer.py
Labels: backend, database

feat: Implement dynamic display connection monitoring and analytics
  backend/ml_models/audio_models.pkl
  backend/voice_unlock/display_aware_sai.py
  backend/voice_unlock/metrics_database.py
  backend/voice_unlock/secure_password_typer.py
Labels: backend, database, ai-ml, voice

fix: Add missing List import in voice_memory_agent.py
  backend/agents/voice_memory_agent.py
Labels: backend, ai-ml, voice

chore: Update audio model binary for improved performance
  backend/ml_models/audio_models.pkl
Labels: backend, ai-ml, voice

feat: Enhance voice sample tracking and analytics in speaker verification service
  backend/ml_models/audio_models.pkl
  backend/voice/speaker_verification_service.py
  backend/voice_unlock/metrics_database.py
Labels: backend, database, ai-ml, voice

feat: Implement persistent voice embedding storage in speaker verification service
  backend/voice/speaker_verification_service.py
Labels: backend, voice

feat: Implement voice embedding synchronization and history tracking in metrics database
  backend/voice/speaker_verification_service.py
  backend/voice_unlock/metrics_database.py
Labels: backend, database, voice

feat: Add STT Hallucination Guard for enhanced transcription accuracy
  backend/ml_models/audio_models.pkl
  backend/voice/stt_hallucination_guard.py
Labels: backend, ai-ml, voice

feat: Enhance STT Hallucination Guard with LangGraph reasoning and database support
  backend/voice/stt_hallucination_guard.py
  backend/voice_unlock/metrics_database.py
Labels: backend, database

feat: Implement fast-path checks in STT Hallucination Guard for improved transcription accuracy
  backend/ml_models/audio_models.pkl
  backend/voice/stt_hallucination_guard.py
  backend/voice_unlock/intelligent_voice_unlock_service.py
Labels: backend, ai-ml, voice

feat: Enhance Whisper transcription with initial prompts to reduce hallucinations
  backend/voice/engines/whisper_gcp_engine.py
  backend/voice/engines/whisper_local_engine.py
  backend/voice/whisper_audio_fix.py
Labels: backend, cloud, voice

feat: Implement critical downsampling for 384D to 192D migration in speaker verification service
  backend/ml_models/audio_models.pkl
  backend/voice/speaker_verification_service.py
Labels: backend, ai-ml, voice

feat: Introduce dynamic migration strategies for embedding dimension adjustments in speaker verification service
  backend/voice/speaker_verification_service.py
Labels: backend, voice

feat: Improve speaker profile handling and diagnostics in voice unlock service
  backend/voice_unlock/intelligent_voice_unlock_service.py
Labels: backend, voice

feat: Add io import for audio data handling in SpeechBrainEngine
  backend/voice/engines/speechbrain_engine.py
Labels: backend

fix: Add NaN/Inf validation to voice embedding migration pipeline
  backend/intelligence/learning_database.py
  backend/scripts/check_voice_profiles.py
  backend/scripts/cleanup_invalid_profiles.py
  backend/scripts/fix_corrupted_profile.py
  backend/voice/engines/speechbrain_engine.py
  backend/voice/speaker_verification_service.py
Labels: backend, database, voice

feat: Add Product Requirements Document for JARVIS Neural Mesh
  PRD_JARVIS_AUTONOMOUS_NEURAL_MESH.md
Labels: documentation

feat: Add high-level action agents and update PRD
  ACTION_EXECUTION_GAP_ANALYSIS.md
  PRD_JARVIS_AUTONOMOUS_NEURAL_MESH.md
Labels: documentation

feat: Introduce JARVIS Neural Mesh framework with core components
  backend/neural_mesh/__init__.py
  backend/neural_mesh/adapters/__init__.py
  backend/neural_mesh/adapters/legacy_agent_adapter.py
  backend/neural_mesh/base/__init__.py
  backend/neural_mesh/base/base_neural_mesh_agent.py
  backend/neural_mesh/communication/__init__.py
  backend/neural_mesh/communication/agent_communication_bus.py
  backend/neural_mesh/config.py
  backend/neural_mesh/data_models.py
  backend/neural_mesh/examples/__init__.py
  backend/neural_mesh/examples/example_vision_agent.py
  backend/neural_mesh/knowledge/__init__.py
  backend/neural_mesh/knowledge/shared_knowledge_graph.py
  backend/neural_mesh/neural_mesh_coordinator.py
  backend/neural_mesh/orchestration/__init__.py
  backend/neural_mesh/orchestration/multi_agent_orchestrator.py
  backend/neural_mesh/registry/__init__.py
  backend/neural_mesh/registry/agent_registry.py
  backend/neural_mesh/utils/__init__.py
  backend/neural_mesh/utils/helpers.py
  backend/tests/neural_mesh/__init__.py
  backend/tests/neural_mesh/test_communication_bus.py
  config/neural_mesh.yaml
Labels: backend, tests, ai-ml, vision

feat: Add AGI OS roadmap and documentation
  AGI_OS_ROADMAP.md
  SUMMARY_ALL_DOCUMENTS.md
Labels: documentation

feat: Add CrewAI analysis and recommendation for JARVIS
  CREWAI_ANALYSIS_FOR_JARVIS.md
Labels: documentation

feat: Introduce core AGI OS components for JARVIS
  backend/agi_os/__init__.py
  backend/agi_os/agi_os_coordinator.py
  backend/agi_os/intelligent_action_orchestrator.py
  backend/agi_os/jarvis_integration.py
  backend/agi_os/proactive_event_stream.py
  backend/agi_os/realtime_voice_communicator.py
  backend/agi_os/voice_approval_manager.py
  backend/autonomy/action_executor.py
  backend/autonomy/autonomous_behaviors.py
  backend/autonomy/autonomous_decision_engine.py
  backend/core/hybrid_orchestrator.py
  backend/neural_mesh/__init__.py
  backend/neural_mesh/adapters/__init__.py
  backend/neural_mesh/adapters/autonomy_adapter.py
  backend/neural_mesh/adapters/intelligence_adapter.py
  backend/neural_mesh/adapters/voice_adapter.py
  backend/neural_mesh/communication/agent_communication_bus.py
  backend/neural_mesh/data_models.py
  backend/neural_mesh/jarvis_bridge.py
  backend/neural_mesh/monitoring/__init__.py
  backend/neural_mesh/monitoring/health_monitor.py
  backend/neural_mesh/monitoring/metrics_collector.py
  backend/neural_mesh/monitoring/trace_manager.py
  backend/neural_mesh/neural_mesh_coordinator.py
  backend/tests/neural_mesh/test_adapters.py
Labels: backend, core, tests, ai-ml, voice

feat: Integrate voice authentication and owner identity services into AGI OS
  backend/agi_os/__init__.py
  backend/agi_os/agi_os_coordinator.py
  backend/agi_os/owner_identity_service.py
  backend/agi_os/voice_approval_manager.py
  backend/agi_os/voice_authentication_narrator.py
Labels: backend, security, voice

feat: Enhance JARVIS Neural Mesh with multi-agent collaboration framework
  backend/agi_os/__init__.py
  backend/agi_os/jarvis_integration.py
  backend/neural_mesh/crew/__init__.py
  backend/neural_mesh/crew/crew.py
  backend/neural_mesh/crew/delegation.py
  backend/neural_mesh/crew/memory.py
  backend/neural_mesh/crew/models.py
  backend/neural_mesh/crew/processes.py
Labels: backend, ai-ml
