Repository drussell23/JARVIS-AI, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, api, database, core, tests, documentation, configuration, ci/cd, dependencies, infrastructure, security, performance, cloud, ai-ml, voice, vision, scripts, github-actions

.github/labeler.yml:

# Auto-labeler configuration for PR automation (v5 format)

backend:
  - changed-files:
    - any-glob-to-any-file: 'backend/**/*'

frontend:
  - changed-files:
    - any-glob-to-any-file: 'frontend/**/*'

api:
  - changed-files:
    - any-glob-to-any-file:
      - 'backend/api/**/*'
      - 'backend/**/*websocket*'

database:
  - changed-files:
    - any-glob-to-any-file:
      - 'backend/**/*database*'
      - 'backend/**/*db*'
      - 'backend/**/models/*'
      - 'backend/**/migrations/*'

core:
  - changed-files:
    - any-glob-to-any-file: 'backend/core/**/*'

tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'backend/tests/**/*'
      - 'frontend/tests/**/*'
      - 'tests/**/*'
      - '**/*test*.py'
      - '**/*.test.js'
      - '**/*.test.ts'

documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '*.md'
      - 'docs/**/*'
      - '**/*.md'

configuration:
  - changed-files:
    - any-glob-to-any-file:
      - '*.yml'
      - '*.yaml'
      - '*.toml'
      - '*.json'
      - '.env.example'
      - 'backend/core/hybrid_config.yaml'

ci/cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - '**/requirements*.txt'
      - '**/package*.json'
      - '**/Cargo.toml'
      - '**/go.mod'
      - 'Pipfile'
      - 'poetry.lock'

infrastructure:
  - changed-files:
    - any-glob-to-any-file:
      - 'infrastructure/**/*'
      - 'terraform/**/*'
      - 'k8s/**/*'
      - 'kubernetes/**/*'
      - 'docker-compose*.yml'
      - 'Dockerfile*'

security:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*security*'
      - '**/*auth*'
      - '**/*credential*'

performance:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*benchmark*'
      - '**/*performance*'
      - '**/*optimization*'

cloud:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*gcp*'
      - '**/*cloud*'
      - '**/*cloudsql*'

ai-ml:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*model*'
      - '**/*ml*'
      - '**/*agent*'
      - 'backend/agents/**/*'
      - 'ml_models/**/*'

voice:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*voice*'
      - '**/*audio*'
      - '**/*speaker*'
      - 'backend/services/voice_*'

vision:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*vision*'
      - '**/*ocr*'
      - '**/*screenshot*'

scripts:
  - changed-files:
    - any-glob-to-any-file:
      - 'scripts/**/*'
      - '*.sh'
      - '*.py'

github-actions:
  - changed-files:
    - any-glob-to-any-file: '.github/**/*'

feat: Release JARVIS v17.7 with AGI OS and Neural Mesh enhancements
  README.md
  backend/core/async_pipeline.py
  backend/main.py
  backend/neural_mesh/__init__.py
  backend/neural_mesh/integration.py
  start_system.py
Labels: backend, core, documentation, scripts

feat: Implement advanced startup greeter for JARVIS AGI OS
  backend/agi_os/__init__.py
  backend/agi_os/startup_greeter.py
  backend/main.py
Labels: backend

feat: Revamp JARVIS AGI OS Startup Greeter with advanced contextual capabilities
  backend/agi_os/startup_greeter.py
Labels: backend

feat: Enhance vision intelligence with async utilities and circuit breaker
  backend/api/pure_vision_intelligence.py
  backend/api/vision_command_handler.py
  backend/display/computer_use_connector.py
Labels: backend, api, vision

feat: Implement async support for Yabai operations in IntelligentVisionRouter
  backend/vision/intelligent_vision_router.py
  backend/vision/yabai_space_detector.py
Labels: backend, vision

feat: Introduce production agents and agent initializer for JARVIS Neural Mesh
  backend/neural_mesh/agents/__init__.py
  backend/neural_mesh/agents/agent_initializer.py
  backend/neural_mesh/agents/context_tracker_agent.py
  backend/neural_mesh/agents/coordinator_agent.py
  backend/neural_mesh/agents/error_analyzer_agent.py
  backend/neural_mesh/agents/health_monitor_agent.py
  backend/neural_mesh/agents/memory_agent.py
  backend/neural_mesh/agents/pattern_recognition_agent.py
  backend/neural_mesh/knowledge/semantic_memory.py
  backend/neural_mesh/knowledge/shared_knowledge_graph.py
  backend/vision/YABAI_DETECTOR_NOTES.md
  docs/backend/VISION_SYSTEM_GUIDE.md
  docs/changelog/CHANGELOG.md
Labels: backend, documentation, ai-ml

feat: Implement asynchronous embedding extraction in SpeechBrainEngine
  backend/voice/engines/speechbrain_engine.py
Labels: backend

feat: Optimize voice processing with async thread pools for feature extraction and verification
  backend/voice/advanced_biometric_verification.py
  backend/voice/advanced_feature_extraction.py
  backend/voice/speaker_verification_service.py
  start_system.py
Labels: backend, voice, scripts

feat: Implement graceful shutdown with daemon thread pools across multiple components
  backend/autonomy/advanced_autonomous_engine.py
  backend/autonomy/tool_orchestrator.py
  backend/intelligence/cloud_sql_connection_manager.py
  backend/parallel_startup_manager.py
  backend/swift_bridge/performance_bridge.py
  backend/swift_bridge/python_bridge.py
  backend/unified_dynamic_system.py
  backend/utils/progressive_model_loader.py
  backend/voice/advanced_feature_extraction.py
  start_system.py
Labels: backend, performance, cloud, ai-ml, scripts
