Repository drussell23/JARVIS-AI, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, api, database, core, tests, documentation, configuration, ci/cd, dependencies, infrastructure, security, performance, cloud, ai-ml, voice, vision, scripts, github-actions

feat: Update loading progress handling in PythonBridge for HUD
  macos-hud/JARVIS-HUD/PythonBridge.swift
Labels: none

refactor: Update type annotations and enhance logging in PythonBridge
  backend/main.py
  macos-hud/JARVIS-HUD/PythonBridge.swift
Labels: backend

feat: Implement immediate WebSocket mounting for enhanced HUD connectivity
  backend/api/unified_websocket.py
  backend/main.py
  macos-hud/JARVIS-HUD/LoadingHUDView.swift
  macos-hud/JARVIS-HUD/UniversalWebSocketClient.swift
Labels: backend, api

feat: Enhance macOS HUD launcher with rebuild check and terminal color output
  backend/ui/macos_launcher.py
Labels: backend

feat: Implement asynchronous backend startup with WebSocket readiness
  backend/main.py
  backend/ui/macos_launcher.py
  start_system.py
Labels: backend, scripts

feat: Transition to full backend startup with parallel component loading
  backend/main.py
  start_system.py
Labels: backend, scripts

feat: Refine loading progress updates during backend startup
  backend/main.py
Labels: backend

feat: Refactor startup diagnostics and enhance loading progress reporting
  backend/main.py
Labels: backend

feat: Enhance MatrixTransitionView for dynamic window sizing
  macos-hud/JARVIS-HUD/LoadingHUDView.swift
Labels: none

feat: Improve window visibility and app activation on launch
  macos-hud/JARVIS-HUD/JARVISApp.swift
Labels: none

feat: Enhance window visibility diagnostics on launch
  macos-hud/JARVIS-HUD/JARVISApp.swift
Labels: none

feat: Enhance HUD launch process with binary hash checks and instance management
  start_system.py
Labels: scripts

feat: Introduce voice interaction features in HUD
  .jarvis_hud_binary_hash
  macos-hud/JARVIS-HUD/HUDView.swift
  macos-hud/JARVIS-HUD/PythonBridge.swift
Labels: none

feat: Add screen lock animation and countdown in HUD
  macos-hud/JARVIS-HUD/HUDView.swift
  macos-hud/JARVIS-HUD/PythonBridge.swift
Labels: none

feat: Integrate advanced vision analysis and command features
  .jarvis_hud_binary_hash
  macos-hud/JARVIS-HUD/HUDView.swift
  macos-hud/JARVIS-HUD/JARVISApp.swift
  macos-hud/JARVIS-HUD/PythonBridge.swift
  macos-hud/JARVIS-HUD/VisionManager.swift
  macos-hud/JARVIS-HUD/VoiceManager.swift
Labels: none

feat: Set application window to full-screen on launch
  macos-hud/JARVIS-HUD/JARVISApp.swift
Labels: none

chore: Update binary hash for HUD application
  .jarvis_hud_binary_hash
Labels: none

feat: Revamp HUDView layout and styling for improved user experience
  macos-hud/JARVIS-HUD/HUDView.swift
Labels: none

chore: Update backend dependencies in requirements.txt
  backend/requirements.txt
Labels: backend, dependencies

feat: Implement auto-detection and activation of virtual environment in start_system.py
  start_system.py
Labels: scripts

feat: Revamp virtual environment activation system in start_system.py
  start_system.py
Labels: scripts

feat: Add async GitHub push monitor and enhance gitignore security
  .gitignore
  auto_github_push.py
Labels: scripts

fix: Initialize logger early in hybrid_database_sync.py to ensure availability for import warnings
  backend/intelligence/hybrid_database_sync.py
Labels: backend, database

chore: Update package-lock.json to reflect dependency changes and add license information
  frontend/package-lock.json
Labels: frontend, dependencies

Checkpoint before follow-up message
  backend/intelligence/autonomous_config.py
  backend/intelligence/requirements_autonomous.txt
Labels: backend, dependencies

feat: Add LangGraph and LangChain integration architecture
  LANGGRAPH_LANGCHAIN_INTEGRATION_ARCHITECTURE.md
Labels: documentation

feat: Enhance JARVIS autonomy with LangGraph and LangChain integration
  backend/autonomy/__init__.py
  backend/autonomy/autonomous_agent.py
  backend/autonomy/jarvis_integration.py
  backend/autonomy/langchain_tools.py
  backend/autonomy/langgraph_engine.py
  backend/autonomy/memory_integration.py
  backend/autonomy/tool_orchestrator.py
  backend/requirements.txt
Labels: backend, dependencies, ai-ml

feat: Integrate LangGraph-based Chain-of-Thought reasoning into JARVIS Intelligence Layer
  backend/intelligence/__init__.py
  backend/intelligence/chain_of_thought.py
  backend/intelligence/intelligence_langgraph.py
  backend/intelligence/uae_langgraph.py
Labels: backend

feat: Expand JARVIS Hybrid Orchestrator with LangGraph Chain-of-Thought capabilities
  backend/core/hybrid_orchestrator.py
  backend/intelligence/uae_integration.py
Labels: backend, core

feat: Implement Computer Use API for JARVIS display connections
  COMPUTER_USE_IMPLEMENTATION_SUMMARY.md
  COMPUTER_USE_INTEGRATION.md
  COMPUTER_USE_QUICK_START.md
  COMPUTER_USE_README.md
  backend/display/computer_use_display_connector.py
  backend/display/hybrid_display_connector.py
  backend/display/jarvis_computer_use_integration.py
  test_computer_use_integration.py
Labels: backend, tests, documentation, scripts

feat: Introduce ReasoningGraphEngine for advanced multi-branch reasoning in JARVIS
  backend/core/hybrid_orchestrator.py
  backend/intelligence/reasoning_graph_engine.py
Labels: backend, core

feat: Add Claude Computer Use integration and enhance voice biometric authentication
  backend/display/advanced_display_monitor.py
  backend/display/computer_use_connector.py
  backend/display/jarvis_computer_use_integration.py
  backend/display/vision_ui_navigator.py
  backend/intelligence/reasoning_graph_engine.py
  backend/voice/speaker_verification_service.py
  backend/voice_unlock/jarvis_voice_unlock.py
  backend/voice_unlock/voice_unlock_integration.py
  test_computer_use_integration.py
Labels: backend, tests, voice, vision, scripts

feat: Implement Claude Computer Use integration for dynamic display connection
  backend/api/unified_command_processor.py
Labels: backend, api

refactor: Update system path management in start_system.py for improved import handling
  start_system.py
Labels: scripts

feat: Enhance voice biometric authentication with LangGraph multi-step reasoning
  .gitleaks.toml
  backend/ml_models/audio_models.pkl
  backend/voice/speaker_verification_service.py
  backend/voice_unlock/ml/ml_manager.py
  backend/voice_unlock/voice_unlock_integration.py
Labels: backend, configuration, ai-ml, voice

feat: Enhance voice verification process with multi-factor authentication and improved feedback
  backend/core/async_pipeline.py
Labels: backend, core

refactor: Improve system path management in start_system.py for enhanced import resolution
  start_system.py
Labels: scripts

refactor: Remove 'slots' from dataclass definitions for improved compatibility
  backend/core/intent/adaptive_classifier.py
  backend/core/matching/semantic_matcher.py
  backend/core/models/context_envelope.py
  backend/core/routing/adaptive_router.py
  backend/core/telemetry/events.py
Labels: backend, database, core

refactor: Update ChromaDB integration for improved client handling
  backend/voice/speaker_verification_service.py
Labels: backend, voice

refactor: Update thread handling in voice engine for improved resource management
  backend/engines/voice_engine.py
Labels: backend, voice

.github/labeler.yml:

# Auto-labeler configuration for PR automation (v5 format)

backend:
  - changed-files:
    - any-glob-to-any-file: 'backend/**/*'

frontend:
  - changed-files:
    - any-glob-to-any-file: 'frontend/**/*'

api:
  - changed-files:
    - any-glob-to-any-file:
      - 'backend/api/**/*'
      - 'backend/**/*websocket*'

database:
  - changed-files:
    - any-glob-to-any-file:
      - 'backend/**/*database*'
      - 'backend/**/*db*'
      - 'backend/**/models/*'
      - 'backend/**/migrations/*'

core:
  - changed-files:
    - any-glob-to-any-file: 'backend/core/**/*'

tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'backend/tests/**/*'
      - 'frontend/tests/**/*'
      - 'tests/**/*'
      - '**/*test*.py'
      - '**/*.test.js'
      - '**/*.test.ts'

documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '*.md'
      - 'docs/**/*'
      - '**/*.md'

configuration:
  - changed-files:
    - any-glob-to-any-file:
      - '*.yml'
      - '*.yaml'
      - '*.toml'
      - '*.json'
      - '.env.example'
      - 'backend/core/hybrid_config.yaml'

ci/cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - '**/requirements*.txt'
      - '**/package*.json'
      - '**/Cargo.toml'
      - '**/go.mod'
      - 'Pipfile'
      - 'poetry.lock'

infrastructure:
  - changed-files:
    - any-glob-to-any-file:
      - 'infrastructure/**/*'
      - 'terraform/**/*'
      - 'k8s/**/*'
      - 'kubernetes/**/*'
      - 'docker-compose*.yml'
      - 'Dockerfile*'

security:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*security*'
      - '**/*auth*'
      - '**/*credential*'

performance:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*benchmark*'
      - '**/*performance*'
      - '**/*optimization*'

cloud:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*gcp*'
      - '**/*cloud*'
      - '**/*cloudsql*'

ai-ml:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*model*'
      - '**/*ml*'
      - '**/*agent*'
      - 'backend/agents/**/*'
      - 'ml_models/**/*'

voice:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*voice*'
      - '**/*audio*'
      - '**/*speaker*'
      - 'backend/services/voice_*'

vision:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*vision*'
      - '**/*ocr*'
      - '**/*screenshot*'

scripts:
  - changed-files:
    - any-glob-to-any-file:
      - 'scripts/**/*'
      - '*.sh'
      - '*.py'

github-actions:
  - changed-files:
    - any-glob-to-any-file: '.github/**/*'
