Repository drussell23/JARVIS-AI, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, api, database, core, tests, documentation, configuration, ci/cd, dependencies, infrastructure, security, performance, cloud, ai-ml, voice, vision, scripts, github-actions

.github/labeler.yml:

# Auto-labeler configuration for PR automation (v5 format)

backend:
  - changed-files:
    - any-glob-to-any-file: 'backend/**/*'

frontend:
  - changed-files:
    - any-glob-to-any-file: 'frontend/**/*'

api:
  - changed-files:
    - any-glob-to-any-file:
      - 'backend/api/**/*'
      - 'backend/**/*websocket*'

database:
  - changed-files:
    - any-glob-to-any-file:
      - 'backend/**/*database*'
      - 'backend/**/*db*'
      - 'backend/**/models/*'
      - 'backend/**/migrations/*'

core:
  - changed-files:
    - any-glob-to-any-file: 'backend/core/**/*'

tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'backend/tests/**/*'
      - 'frontend/tests/**/*'
      - 'tests/**/*'
      - '**/*test*.py'
      - '**/*.test.js'
      - '**/*.test.ts'

documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '*.md'
      - 'docs/**/*'
      - '**/*.md'

configuration:
  - changed-files:
    - any-glob-to-any-file:
      - '*.yml'
      - '*.yaml'
      - '*.toml'
      - '*.json'
      - '.env.example'
      - 'backend/core/hybrid_config.yaml'

ci/cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - '**/requirements*.txt'
      - '**/package*.json'
      - '**/Cargo.toml'
      - '**/go.mod'
      - 'Pipfile'
      - 'poetry.lock'

infrastructure:
  - changed-files:
    - any-glob-to-any-file:
      - 'infrastructure/**/*'
      - 'terraform/**/*'
      - 'k8s/**/*'
      - 'kubernetes/**/*'
      - 'docker-compose*.yml'
      - 'Dockerfile*'

security:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*security*'
      - '**/*auth*'
      - '**/*credential*'

performance:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*benchmark*'
      - '**/*performance*'
      - '**/*optimization*'

cloud:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*gcp*'
      - '**/*cloud*'
      - '**/*cloudsql*'

ai-ml:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*model*'
      - '**/*ml*'
      - '**/*agent*'
      - 'backend/agents/**/*'
      - 'ml_models/**/*'

voice:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*voice*'
      - '**/*audio*'
      - '**/*speaker*'
      - 'backend/services/voice_*'

vision:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*vision*'
      - '**/*ocr*'
      - '**/*screenshot*'

scripts:
  - changed-files:
    - any-glob-to-any-file:
      - 'scripts/**/*'
      - '*.sh'
      - '*.py'

github-actions:
  - changed-files:
    - any-glob-to-any-file: '.github/**/*'

feat: Enhance process detection with intelligent deduplication and JARVIS context verification
  backend/core/process_detector.py
Labels: backend, core

feat: Update README for JARVIS v17.5.0 with Advanced Process Management
  README.md
Labels: documentation

fix: Correct exception handling indentation in start_system.py
  start_system.py
Labels: scripts

refactor: Remove unnecessary backend path import in start_system.py
  start_system.py
Labels: scripts

refactor: Simplify event loop management in start_system.py
  start_system.py
Labels: scripts

fix: Correctly await asynchronous process detection in start_system.py
  start_system.py
Labels: scripts

fix: Implement compatibility patch for torchaudio 2.9.0+ in SpeechBrain
  backend/voice/engines/speechbrain_engine.py
  backend/voice/speaker_verification_service.py
  docs/TORCHAUDIO_COMPATIBILITY_FIX.md
Labels: backend, documentation, voice

feat: Enhance speaker verification service with cleanup functionality
  backend/intelligence/cloud_database_adapter.py
  backend/intelligence/learning_database.py
  backend/voice/speaker_verification_service.py
  start_system.py
  test_thread_cleanup.py
Labels: backend, database, tests, cloud, voice, scripts

feat: Enhance learning database with shutdown support and cleanup functionality
  backend/intelligence/learning_database.py
  backend/voice/speaker_verification_service.py
Labels: backend, database, voice

Remove test_thread_cleanup.py and add documentation for thread cleanup and database initialization fixes
  docs/THREAD_CLEANUP_AND_DATABASE_FIXES.md
  test_thread_cleanup.py
Labels: tests, documentation, scripts

feat: Implement non-blocking system monitoring and optimization for JARVIS voice system
  backend/voice/BOTTLENECK_FIX_SUMMARY.md
  backend/voice/PERFORMANCE_IMPROVEMENTS.md
  backend/voice/jarvis_voice.py
Labels: backend, documentation, voice

feat: Enhance process detection with JARVIS context verification
  backend/core/process_detector.py
Labels: backend, core

feat: Implement real-time startup progress updates with WebSocket API
  backend/api/startup_progress_api.py
  backend/main.py
  landing-page/loading.html
  start_system.py
Labels: backend, api, ai-ml, scripts

feat: Update loading page styles with JARVIS-themed color scheme
  landing-page/loading.html
Labels: ai-ml

feat: Enhance browser startup logic with custom URL support and loading page integration
  backend/main.py
  start_system.py
Labels: backend, scripts

feat: Add loading page display during system restart for improved user feedback
  start_system.py
Labels: scripts

feat: Refactor loading page handling during system restart for improved user experience
  start_system.py
Labels: scripts

feat: Enhance process exclusion logic to filter out parent and grandparent IDE processes
  backend/core/process_detector.py
  start_system.py
Labels: backend, core, scripts

feat: Improve process exclusion logic to comprehensively filter out IDE processes during system operations
  backend/core/process_detector.py
  start_system.py
Labels: backend, core, scripts

feat: Refine IDE process exclusion by incorporating command line checks for enhanced filtering
  backend/core/process_detector.py
Labels: backend, core

feat: Introduce JARVIS Advanced Loading System with real-time progress updates
  LOADING_SYSTEM.md
  backend/api/startup_progress_api.py
  frontend/public/loading-manager.js
  frontend/public/loading.html
  start_system.py
Labels: backend, frontend, api, documentation, ai-ml, scripts

feat: Add standalone loading server for real-time progress tracking during JARVIS startup
  LOADING_SYSTEM_FINAL.md
  frontend/public/loading-manager.js
  loading_server.py
  start_system.py
Labels: frontend, documentation, scripts

feat: Implement progress update endpoint and enhance loading server integration
  frontend/public/loading-manager.js
  loading_server.py
  start_system.py
Labels: frontend, scripts

feat: Enhance progress tracking and loading manager for JARVIS startup
  frontend/public/loading-manager.js
  start_system.py
Labels: frontend, scripts

feat: Add epic completion animation to loading manager for JARVIS startup
  frontend/public/loading-manager.js
Labels: frontend

feat: Add Startup Voice Announcement API and integrate with loading manager
  backend/api/startup_voice_api.py
  backend/main.py
  frontend/public/loading-manager.js
Labels: backend, frontend, api, voice

feat: Refactor loading manager animations for dynamic configuration and improved effects
  frontend/public/loading-manager.js
Labels: frontend

feat: Implement adaptive progress tracking for backend initialization
  start_system.py
Labels: scripts

feat: Enhance backend progress tracking with dynamic configuration and adaptive polling
  backend/config/startup_progress_config.json
  start_system.py
Labels: backend, scripts

feat: Enhance backend initialization feedback with detailed progress updates and fallback messages
  backend/config/startup_progress_config.json
  start_system.py
Labels: backend, scripts

refactor: Remove unnecessary subprocess import from start_system.py
  start_system.py
Labels: scripts

fix: Improve frontend initialization feedback with detailed status messages
  start_system.py
Labels: scripts

feat: Implement comprehensive async task and thread cleanup mechanism
  docs/THREAD_CLEANUP_ARCHITECTURE.md
  start_system.py
Labels: documentation, scripts

feat: Implement retry logic for loading server health check during initialization
  start_system.py
Labels: scripts

feat: Enhance async task cancellation with recursion and timeout protection
  backend/ml_models/audio_models.pkl
  docs/THREAD_CLEANUP_ARCHITECTURE.md
  start_system.py
Labels: backend, documentation, ai-ml, voice, scripts

feat: Implement circuit breaker for continuous listening in JarvisVoice component
  backend/ml_models/audio_models.pkl
  frontend/src/components/JarvisVoice.js
  frontend/src/utils/MLAudioHandler.js
Labels: backend, frontend, ai-ml, voice

feat: Enhance WebSocket connection handling in JarvisVoice component
  frontend/src/components/JarvisVoice.js
Labels: frontend

feat: Improve async task cancellation and shutdown handling in start_system.py
  frontend/src/components/JarvisVoice.js
  start_system.py
Labels: frontend, scripts

feat: Implement subprocess lifecycle management and enhance async cleanup in start_system.py
  docs/THREAD_CLEANUP_ARCHITECTURE.md
  frontend/public/loading.html
  start_system.py
Labels: frontend, documentation, ai-ml, scripts

feat: Implement dynamic subprocess waitpid handler cleanup in start_system.py
  docs/THREAD_CLEANUP_ARCHITECTURE.md
  start_system.py
Labels: documentation, scripts
