Repository drussell23/JARVIS-AI, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, api, database, core, tests, documentation, configuration, ci/cd, dependencies, infrastructure, security, performance, cloud, ai-ml, voice, vision, scripts, github-actions

feat: Update loading server logic in start_system.py for UI mode handling
  start_system.py
Labels: scripts

fix: Update backend port reference in macOS HUD launcher and improve error handling
  start_system.py
Labels: scripts

refactor: Improve macOS HUD launch handling and user feedback in start_system.py
  start_system.py
Labels: scripts

feat: Implement real-time loading progress updates for macOS HUD integration
  backend/api/hud_websocket.py
  macos-hud/JARVIS-HUD/LoadingHUDView.swift
  macos-hud/JARVIS-HUD/PythonBridge.swift
  start_system.py
Labels: backend, api, scripts

feat: Improve macOS HUD build and launch process with enhanced error handling
  macos-hud/JARVIS-HUD/LoadingHUDView.swift
  macos-hud/JARVIS-HUD/PythonBridge.swift
  start_system.py
Labels: scripts

feat: Enhance macOS HUD build and launch process with extended attribute cleanup and instance management
  start_system.py
Labels: scripts

feat: Add completion signal handling for macOS HUD integration
  backend/api/hud_websocket.py
  macos-hud/JARVIS-HUD/LoadingHUDView.swift
  macos-hud/JARVIS-HUD/PythonBridge.swift
  start_system.py
Labels: backend, api, scripts

feat: Improve error handling and user feedback in HUD progress updates
  macos-hud/JARVIS-HUD/LoadingHUDView.swift
  macos-hud/JARVIS-HUD/PythonBridge.swift
  start_system.py
Labels: scripts

refactor: Update backend connection URLs in PythonBridge and remove loading simulation in LoadingHUDView
  macos-hud/JARVIS-HUD/LoadingHUDView.swift
  macos-hud/JARVIS-HUD/PythonBridge.swift
Labels: none

feat: Implement real-time HUD progress updates during parallel component loading
  backend/main.py
Labels: backend

feat: Implement background module loading with real-time HUD updates
  backend/main.py
Labels: backend

refactor: Consolidate component loading logic and enhance background loading functionality
  backend/main.py
Labels: backend

feat: Add RAM pressure detection and GCP Spot VM offloading to optimize backend startup
  start_system.py
Labels: scripts

feat: Enhance RAM pressure detection and GCP Spot VM offloading logic
  start_system.py
Labels: scripts

feat: Introduce Intelligent Hybrid Orchestration for dynamic component offloading
  backend/core/HYBRID_ORCHESTRATION_CONFIG.md
  backend/core/dynamic_hybrid_orchestrator.py
  backend/core/intelligent_component_profiler.py
  start_system.py
Labels: backend, core, documentation, scripts

feat: Enhance component profiling with multi-tier approach and static analysis
  backend/core/HYBRID_ORCHESTRATION_CONFIG.md
  backend/core/intelligent_component_profiler.py
Labels: backend, core, documentation

feat: Enhance component auto-discovery with fast mode and advanced profiling
  backend/core/HYBRID_ORCHESTRATION_CONFIG.md
  backend/core/dynamic_hybrid_orchestrator.py
  backend/core/intelligent_component_profiler.py
Labels: backend, core, documentation

feat: Implement Intelligent Hybrid Orchestration initialization and shutdown logic
  backend/main.py
Labels: backend

feat: Integrate macOS HUD with unified WebSocket endpoint
  HUD_UNIFIED_WEBSOCKET_INTEGRATION.md
  backend/api/hud_websocket.py
  backend/api/unified_websocket.py
  macos-hud/JARVIS-HUD/PythonBridge.swift
  start_system.py
Labels: backend, api, documentation, scripts

refactor: Replace deprecated HUD WebSocket with unified WebSocket integration
  backend/api/hud_websocket.py
  backend/main.py
Labels: backend, api

feat: Integrate JARVIS TTS into macOS HUD for voice responses
  HUD_VOICE_INTEGRATION.md
  macos-hud/JARVIS-HUD/PythonBridge.swift
  macos-hud/JARVIS-HUD/VoiceManager.swift
Labels: documentation

chore: Comment out VoiceManager integration in PythonBridge for future implementation
  macos-hud/JARVIS-HUD/PythonBridge.swift
Labels: none

feat: Enhance WebSocket connection logging and error handling in PythonBridge
  macos-hud/JARVIS-HUD/PythonBridge.swift
Labels: none

feat: Update Silero VAD downloader for improved performance and usability
  backend/voice/coreml/download_silero_vad.py
Labels: backend

feat: Optimize Silero VAD for Apple Silicon with MPS acceleration
  backend/voice/coreml/download_silero_vad.py
Labels: backend

feat: Enhance Silero VAD initialization with MPS support and detailed logging
  backend/voice/vad/silero_vad.py
Labels: backend

feat: Implement advanced Silero VAD CoreML converter with async support
  backend/voice/coreml/convert_jit_to_coreml.py
  backend/voice/vad/adaptive_vad_engine.py
Labels: backend, ai-ml

feat: Introduce Voice Activity Detection (VAD) auto-initialization system
  backend/voice/vad/vad_auto_init.py
  start_system.py
Labels: backend, scripts

refactor: Remove unnecessary imports in VAD initialization
  start_system.py
Labels: scripts

feat: Enhance VAD initialization logging and error handling
  start_system.py
Labels: scripts

feat: Implement progress message buffering for late-connecting HUD clients
  backend/api/unified_websocket.py
Labels: backend, api

feat: Update HUD and Loading views for full transparency
  macos-hud/JARVIS-HUD/HUDView.swift
  macos-hud/JARVIS-HUD/LoadingHUDView.swift
  macos-hud/JARVIS-HUD/TransparentWindow.swift
Labels: none

feat: Update window configuration for complete invisibility in JARVIS HUD
  macos-hud/JARVIS-HUD/JARVISApp.swift
Labels: none

feat: Add ClickThroughWindow for intelligent click-through behavior in JARVIS HUD
  macos-hud/JARVIS-HUD/ClickThroughWindow.swift
  macos-hud/JARVIS-HUD/JARVISApp.swift
Labels: none

feat: Introduce ClickThroughHostingView for enhanced click-through behavior in JARVIS HUD
  macos-hud/JARVIS-HUD/ClickThroughHostingView.swift
  macos-hud/JARVIS-HUD/JARVISApp.swift
Labels: none

feat: Enhance JARVIS HUD with advanced click-through and loading screen features
  macos-hud/JARVIS-HUD/JARVISApp.swift
  macos-hud/README.md
Labels: documentation

feat: Add HUD visibility toggle and keyboard shortcut functionality
  macos-hud/JARVIS-HUD/JARVISApp.swift
Labels: none

feat: Enhance keyboard shortcut functionality for JARVIS HUD
  macos-hud/JARVIS-HUD/JARVISApp.swift
Labels: none

feat: Improve JARVIS HUD window behavior for enhanced visibility across Spaces
  macos-hud/JARVIS-HUD/JARVISApp.swift
Labels: none

feat: Pre-import torchvision to prevent kernel registration conflicts
  backend/voice/engines/speechbrain_engine.py
  macos-hud/JARVIS-HUD/JARVISApp.swift
Labels: backend

.github/labeler.yml:

# Auto-labeler configuration for PR automation (v5 format)

backend:
  - changed-files:
    - any-glob-to-any-file: 'backend/**/*'

frontend:
  - changed-files:
    - any-glob-to-any-file: 'frontend/**/*'

api:
  - changed-files:
    - any-glob-to-any-file:
      - 'backend/api/**/*'
      - 'backend/**/*websocket*'

database:
  - changed-files:
    - any-glob-to-any-file:
      - 'backend/**/*database*'
      - 'backend/**/*db*'
      - 'backend/**/models/*'
      - 'backend/**/migrations/*'

core:
  - changed-files:
    - any-glob-to-any-file: 'backend/core/**/*'

tests:
  - changed-files:
    - any-glob-to-any-file:
      - 'backend/tests/**/*'
      - 'frontend/tests/**/*'
      - 'tests/**/*'
      - '**/*test*.py'
      - '**/*.test.js'
      - '**/*.test.ts'

documentation:
  - changed-files:
    - any-glob-to-any-file:
      - '*.md'
      - 'docs/**/*'
      - '**/*.md'

configuration:
  - changed-files:
    - any-glob-to-any-file:
      - '*.yml'
      - '*.yaml'
      - '*.toml'
      - '*.json'
      - '.env.example'
      - 'backend/core/hybrid_config.yaml'

ci/cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**/*'
      - '.github/actions/**/*'

dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - '**/requirements*.txt'
      - '**/package*.json'
      - '**/Cargo.toml'
      - '**/go.mod'
      - 'Pipfile'
      - 'poetry.lock'

infrastructure:
  - changed-files:
    - any-glob-to-any-file:
      - 'infrastructure/**/*'
      - 'terraform/**/*'
      - 'k8s/**/*'
      - 'kubernetes/**/*'
      - 'docker-compose*.yml'
      - 'Dockerfile*'

security:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*security*'
      - '**/*auth*'
      - '**/*credential*'

performance:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*benchmark*'
      - '**/*performance*'
      - '**/*optimization*'

cloud:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*gcp*'
      - '**/*cloud*'
      - '**/*cloudsql*'

ai-ml:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*model*'
      - '**/*ml*'
      - '**/*agent*'
      - 'backend/agents/**/*'
      - 'ml_models/**/*'

voice:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*voice*'
      - '**/*audio*'
      - '**/*speaker*'
      - 'backend/services/voice_*'

vision:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*vision*'
      - '**/*ocr*'
      - '**/*screenshot*'

scripts:
  - changed-files:
    - any-glob-to-any-file:
      - 'scripts/**/*'
      - '*.sh'
      - '*.py'

github-actions:
  - changed-files:
    - any-glob-to-any-file: '.github/**/*'
